// Variables

// Colors
$black       : #1c1f21;
$white       : #fff;
$offwhite    : #f0f1f2;
$blue        : #4d7dee;
$gray-one    : #70797b;
$gray-two    : #a4b0b2;
$gray-three  : #D0D6D9;
$gray-four   : #f0f1f2;
$tan         : #D7D6CC;
$yellow      : #f7cc0c;
$yellow-text : #f4c903;
$gold        : #f7bf11;
$orange      : #f9a01c;
$green       : #728256;

// Brand Swatches
$brand-primary: $yellow;

// Color map for use in functions
$colors: (
  'black'      : $black,
  'white'      : $white,
  'offwhite'   : $offwhite,
  'blue'       : $blue,
  'gray-one'   : $gray-one,
  'gray-two'   : $gray-two,
  'gray-three' : $gray-three,
  'gray-four'  : $gray-four,
  'tan'        : $tan,
  'yellow'     : $yellow,
  'gold'       : $gold,
  'orange'     : $orange,
  'green'      : $green,
  'primary'    : $brand-primary
);

// Breakpoints
$breakpoint-sm  : 480px;
$breakpoint-md  : 700px;
$breakpoint-lg  : 900px;
$breakpoint-nav : 1006px;
$breakpoint-xl  : 1200px;

// Spacing
$global-spacing : 25px;
$vertical-beat  : 10px;

// Header Heights
$header-height: 120px;
$header-height-small: 76px;