//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-size: 18px;
  box-sizing: border-box;
  font-family: $font-regular;

  @include media-md {
    padding-bottom: $global-spacing;

    &.sidebar-left {
      padding-left: $global-spacing;
    }
    &.sidebar-right {
      padding-right: $global-spacing;
    }
  }
}

h1 {
  @include headline-one;
}

h2 {
  @extend .headline-two;
}

h3 {
  @extend .headline-three;
}

p {
  font-size: 18px;
  line-height: 25px;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  @include clearfix();
  padding: 0 $global-spacing;
}

.site-main {
  background-color: $offwhite;
}

.svgs-defs {
  display: none;
}

// Offset
.offset {
  &-top {
    z-index: 1;
    position: relative;
    margin-top: -$global-spacing * 2;
  }
  &-bottom {
    z-index: 1;
    position: relative;
    margin-bottom: -$global-spacing * 2;
  }
}

// Page Overlay
#site-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
  will-change: background-color;
  background-color: rgba($black, 0);
  transition: background-color .35s ease-out;
  &.-active {
    background-color: rgba($black, .85);
  }
  @include media-nav {
    z-index: 3;
  }
}

// Load more
.loading {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  // overflow: hidden;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border-radius: 50%;
    position: absolute;
    border-style: solid;
    border-top-width: 2px;
    border-width: 2px 2px 0 0;
    border-color: $brand-primary;
    animation: spinLeft 1.25s linear infinite;
  }
  .ednavigator-mark {
    top: 24px;
    left: 24px;
    width: 33px;
    height: 33px;
    position: absolute;
    animation: spinRight 1.6s cubic-bezier(0.68,-0.55,0.27,1.5) infinite;
  }
}