// Blocks

// Block grid
.block-grid {
  display: flex;
  flex-direction: column;
  @include media-lg {
    flex-direction: row;

    &.align-right {
      flex-direction: row-reverse;
    }
  }
}

.block {
  position: relative;
  background-size: cover;
  padding: $global-spacing;
  background-position: center center;

  .-inner {
    max-width: 600px;
  }

  .block-descriptor {
    margin: 0 0 20px;
    @extend .headline-descriptor;
  }

  .block-title {
    @include headline-one;
    margin-bottom: $global-spacing;
    // Alternative Styles
    &.largeNumeral {
      @extend .headline-numeral;
    }
    &.quote {
      @extend .headline-quote;
    }
  }

  @include media-md {
    padding: #{$global-spacing * 2};
  }
  @include media-lg {
    padding-top: #{$global-spacing * 5};
    min-height: calc(100vh - #{$global-spacing});
  }
}

.image-block {
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center center;
  &::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 180px;
    position: absolute;
    background-image: linear-gradient(rgba($black,.75), rgba($black,0));
  }
  @include max-screen($breakpoint-lg) {
    order: -1;
  }
  @include media-lg {
    height: auto;
  }
}