// Buttons

.button {
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 15px 25px 13px;
  @extend .headline-inline;
  border: 1px solid $black;
  transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
  &:hover {
    background: $brand-primary;
    border-color: $brand-primary;
  }
  &:focus {
    outline: none;
  }

  svg {
    fill: $black;
    transition: fill .2s ease-out;
  }

  &.-yellow {
    color: $brand-primary;
    border-color: $brand-primary;
    &:hover {
      color: $black;
    }
  }

  &.-blue {
    border: none;
    color: $white;
    background-color: $blue;

    svg {
      fill: $white;
    }

    &:hover {
      color: $black;
      background-color: $brand-primary;

      svg {
        fill: $black;
      }
    }

  }

  // With Icon
  &.with-icon {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 25px;
      height: 25px;
      margin-left: $vertical-beat * 2;
    }
  }
}

// 'Inline-link' style button
a.inline-link {
  @include headline-inline;
  color: $black;
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 11px 16px 7px;
  border: 1px solid $black;
  transition: color .2s ease-out;
  > span {
    display: flex;
    align-items: center;
  }
  .icon {
    margin-left: 28px;
    position: relative;
    &::after {
      top: 7px;
      left: 10px;
      width: 42px;
      height: 2px;
      content: '';
      position: absolute;
      transform: scaleX(0) translateY(1px);
      transform-origin: left;
      background: $black;
      transition: transform .2s ease-out, background .2s ease-out;
    }
  }
  svg {
    width: 50px;
    fill: $black;
    height: 10px;
    margin-left: 10px;
    transition: fill .2s ease-out;
  }
  &:hover {
    color: $blue;
    border-color: $white;
    background-color: $white;
    .icon {
      &::after {
        background: $blue;
        transform: scaleX(1) translateY(1px);
      }
    }
    svg {
      fill: $blue;
    }
  }

  // Left-sided variation
  &.-left {
    .icon {
      margin-right: $vertical-beat;
      &::after {
        right: 0;
        left: auto;
        transform-origin: right;
      }
    }
  }
}

// Scroll button
.scroll-button {
  padding: 0;
  width: 80px;
  height: 80px;
  line-height: 0;
  display: block;
  background: none;
  border-radius: 50%;
  border: 2px solid $brand-primary;
  .icon {
    width: 15px;
    height: 15px;
    position: relative;
    fill: $brand-primary;
    transform: rotate(90deg);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    .icon {
      animation: scrollHover 1s linear infinite;
    }
  }

  &.-orange {
    border-color: $orange;
    .icon {
      fill: $orange;
    }
  }
}

@keyframes scrollHover {
  0%, 50%, 100% {
    transform: translate3d(0,0,0) rotate(90deg);
  }
  25% {
    transform: translate3d(0,5px,0) rotate(90deg);
  }
  75% {
    transform: translate3d(0,-5px,0) rotate(90deg);
  }
}