// Footer

.site-footer {
  color: $gray-dark;
  background: $black;
  padding: $global-spacing;

  @include media-lg {
    padding: $global-spacing * 2;
  }

  h5 {
    margin-bottom: 30px;
    @extend .headline-descriptor;
  }

  .newsletter {
    margin-bottom: $global-spacing;
    @include media-lg {
      margin-bottom: 0;
    }

    form {
      max-width: 400px;
    }
  }

  .links-section {
    @include media-md {
      display: flex;
      
      > div {
        width: 50%;
      }
    }
    @include media-lg {

      > div {
        width: auto;
      }
    }
  }

  .contact-info {
    @include media-md {
      padding-right: $global-spacing;
    }

    a {
      @extend .headline-three;
      transition: color .2s ease-out;
      &:hover {
        color: $brand-primary;
      }
    }
    p {
      margin-top: 20px;
    }
  }

  .connect {
    > div {
      margin-bottom: 30px;
    }
  }

  .social {
    margin: 0;
    padding: 0;
    @include clearfix;

    li {
      float: left;
      list-style: none;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    
    a {
      display: inline-block;
      &:hover {
        .icon {
          fill: $brand-primary;
        }
      }
      &:focus {
        outline: none;
      }
    }

    .icon {
      width: 15px;
      height: 15px;
      fill: $gray-dark;
      vertical-align: top;
      transition: fill .2s ease-out;
      &.icon-twitter,
      &.icon-medium {
        width: 18px;
      }
    }

    &.app-links {
      li {
        margin-left: 20px;
        &:first-of-type {
          margin-left: 0;
        }
      }
      .icon {
        &.icon-apple {
          width: 18px;
          height: 22px;
        }
        &.icon-android {
          width: 18px;
          height: 22px;
        }
      }
    }
  }

  .address {
    span {
      display: block;
    }
  }
}