// Page Blocks

body.page {

  .content-block {
    .headline-rule span {
      background: $offwhite;
    }

    .sub-section {
      h4 {
        @include headline-two;
        margin-top: 0;
        color: $yellow-text;
      }
    }
  }

  .intro-section,
  .two-column-section,
  .single-column-section,
  .call-to-action-section {
    + .call-to-action-section {
      padding-top: $global-spacing * 2;
    }
  }

  .call-to-action-section + .section-links {
    padding-top: 0;
  }

  .call-to-action-section {
    background: $white;
    padding-top: #{$global-spacing * 2};
    padding-bottom: #{$global-spacing * 2};

    h4 {
      color: $black;
      margin-top: 0;
      text-align: center;
      @extend .headline-one;
      margin-bottom: #{$vertical-beat * 3};
    }

    .intro-text {
      max-width: 800px;
      text-align: center;
      margin: 0 auto #{$vertical-beat * 3};
    }

    .call-to-action {
      margin: 70px 0 0;
      text-align: center;

      .button {
        padding-left: 38px;
        padding-right: 38px;
      }
    }
  }

  // Feature Sections
  .feature-section {
    background-color: $white;

    > div {
      padding: $global-spacing;

      @include media-lg {
        padding: $global-spacing * 2;
      }
    }

    .section-intro {
      @include media-lg {
        padding-top: $global-spacing * 4;
      }
    }

    .features {
      margin: 0;
      padding: 0;
      list-style: none;

      .feature {
        + .feature {
          margin-top: $vertical-beat * 3;
        }

        .feature-icon {
          margin-left: $vertical-beat;
          margin-bottom: $vertical-beat * 3;

          img {
            max-width: $global-spacing;
          }
        }

        .feature-text {
          h5 {
            margin: 0;
          }
        }

        @include media-md {
          display: flex;
          + .feature {
            margin-top: $vertical-beat * 4;
          }

          .feature-icon {
            margin: 0;
          }

          .feature-text {
            margin-left: $global-spacing;
          }
        }
      }
    }
  }

  .stepped-process {
    background: $white;

    .headline-rule span {
      background: $white;
    }

    .steps {
      @include media-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -#{$global-spacing / 2};
        width: calc(100% + #{$global-spacing});
      }
      @include media-lg {
        display: block;
      }

      .step {
        position: relative;
        margin-top: $global-spacing;

        // Arrows between steps
        .icon-arrow-dotted {
          right: 0;
          top: 45px;
          width: 51px;
          height: 10px;
          fill: $black;
          display: none;
          position: absolute;
          transform: translateX(-50%);

          @include media-lg {
            display: block;
          }
        }

        .step-number {
          @include headline-numeral;
          -webkit-font-smoothing: antialiased;
        }

        h4 {
          font-size: 14px;
          @extend .headline-descriptor;
          margin: #{$global-spacing / 2} 0;
        }

        .step-content {
          p:first-of-type {
            margin-top: 0;
          }
        }

        @include media-sm {
          max-width: 50%;
          flex-basis: 50%;
          padding: 0 #{$global-spacing / 2};
        }

      }
    }
  }

  // Two-column Section
  .two-column-section {
    .sub-section + .sub-section {
      margin-top: $global-spacing;

      @include media-lg {
        margin-top: 0;
      }
    }
  }

  // Stat Block
  .stat-with-photo {
    padding: 0;

    @include media-md {
      .image-block {
        order: 1;
      }
      .block {
        order: 0;
      }

      // Alternate the order if there are multiple next to each other
      & + .stat-with-photo:nth-of-type(2n) {
        .image-block {
          order: 0;
        }
        .block {
          order: 1;
        }
      }
    }

    .block {
      @include media-md {
        min-height: 0;
        padding-top: #{$global-spacing * 2};
      }
    }
  }

  // Two Column Stat with Photo Block
  .two-column-stat-with-photo {
    padding: 0;
    background-color: $offwhite;

    .section-photo-container {
      @include treatedImage;
      padding-bottom: 18.3333%;
    }

    .stat {
      text-align: center;

      .block-stat {
        @include headline-numeral;
        color: $yellow-text;
      }

      & + .stat {
        border-top: 1px solid $white;
      }

      @include media-lg {
        & + .stat {
          border-top: none;
          border-left: 1px solid $white;
        }
      }
    }
  }

  // Link List
  .link-list {

    h5 {
      @extend .headline-descriptor;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: #{$global-spacing / 2} 0 0;
      li {
        line-height: 3;
      }
    }

    .inline-link {
      &:hover {
        .icon svg {
          fill: $black;
        }
      }
      .icon {
        &::after {
          background: $black;
        }
      }
    }
  }
}

// Featured News Section
.featured-news {
  background-color: $white;
  &.with-carousel {
    padding-bottom: 70px;
  }

  .featured-news-carousel {
    width: 100%;
    border-bottom: 1px solid $offwhite;

    .flickity-prev-next-button {
      left: auto;
      padding: 0;
      width: auto;
      color: $blue;
      height: 70px;
      bottom: -70px;
      display: flex;
      transform: none;

      svg  {
        path {
          fill: $blue;
        }
      }

      &.previous {
        left: 20px;
      }
      &.next {
        right: 20px;
      }

      @include media-lg {
        &.previous {
          left: auto;
          right: 306px;
        }
        &.next {
          right: #{($global-spacing * 2) - 10px};
        }
      }
    }
  }

  .block {
    width: 100%;
    background-color: $white;
    outline: 1px solid $offwhite;

    > .-inner {
      height: 100%;
    }

    .block-title a {
      &:hover,
      &:focus {
        color: $blue;
      }
    }

    .post-image-container {
      position: relative;
      top: -$global-spacing;
      left: -$global-spacing;
      width: calc(100% + #{$global-spacing * 2});
      padding-bottom: calc(38.3333% + #{$global-spacing});

      &.logo-image {
        height: 0;
        .post-image {
          top: 50%;
          max-height: 75px;
          position: absolute;
          left: $global-spacing;
          transform: translateY(-50%);
        }
      }

      &:not(.logo-image) {
        height: 0;
        &::before {
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
          opacity: .4;
          content: '';
          position: absolute;
          background-color: #AAABAC;
        }

        .post-image {
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          position: absolute;
          background-size: cover;
          background-position: top center;
          &::before,
          &::after {
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            content: '';
            position: absolute;
          }
          &::before {
            mix-blend-mode: color;
            background-color: $tan;
          }
          &::after {
            opacity: .2;
            background-color: #676A6D;
            mix-blend-mode: color-burn;
          }
        }
      }
    }
  }

  @include media-md {
    .block {
      .post-image-container {
        top: -$global-spacing * 2;
        left: -$global-spacing * 2;
        width: calc(100% + #{$global-spacing * 4});
        padding-bottom: calc(38.3333% + #{$global-spacing * 2});

        &.logo-image {
          .post-image {
            left: $global-spacing * 2;
          }
        }
      }
    }

    .block-title {
      font: normal 42px/40px $font-bold;
    }
  }

  @include media-lg {
    .block {
      width: 50%;
      min-height: 100%;
    }
  }
}