// Section Carousels

.page-section-carousel {
  background-color: $offwhite;

  .page-section {
    width: 100%;
  }
  .page-section-image-carousel,
  .page-section-content-carousel {

    @include media-lg {
      width: 50%;
    }

    .image-block {
      width: 100%;
      @include media-lg {
        height: 100%;
      }
    }

    .block {
      width: 100%;
      padding-bottom: $global-spacing * 2;
      @include media-lg {
        min-height: 0;
        padding-bottom: #{$global-spacing * 3};
      }
    }
  }

  // Image Carousels
  .page-section-image-carousel {
    height: 0;
    padding-bottom: 57.1428571%;
    
    .flickity-viewport {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    @include media-lg {
      height: auto;
      padding-bottom: 0;

      .flickity-viewport {
        position: relative;
      }
    }
  }

  .page-section-content-carousel {

    .block {

      .inner {
        @include media-lg {
          padding-bottom: 100px;
        }
      }

    }

  }

}

// Flickity style overrides
.flickity-viewport:focus {
  outline: 20px solid red;
}
.flickity-prev-next-button {
  top: auto;
  bottom: 0;
  width: 78px;
  background: none;
  @include media-md {
    top: auto;
    bottom: 10px;
  }

  svg {
    top: auto;
    left: auto;
    width: 30px;
    height: 30px;
    position: relative;
  }

  span {
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
    @extend .headline-descriptor;
  }

  .arrow {
    fill: $black;
  }

  &:hover {
    background: none;
  }
  &:focus {
    box-shadow: none;
  }

  &.next {
    left: 138px;
    @include media-md {
      left: 189px;
    }
  }
  &.previous {
    left: 30px;
    @include media-md {
      left: 81px;
    }
  }
}

.flickity-viewport {
  transition: height .2s ease-out;
}