craft/storage/runtime/*
craft/storage/backups/*
craft/storage/userphotos/*
public/assets/bower_components/*
public/uploads/*
public/downloads/*
craft/app

.DS_Store
.scss-cache/*
.gulp-scss-cache/*
node_modules/*
logs/*
.env
_env.php
*.pyc

public/assets/dist/css/application.css
public/assets/dist/js/application.js
public/assets/dist/js/maps/application.js.map
public/assets/dist/css/maps/application.css.map

public/.well-known
vendor/*

# random stuff
.notes