{# Set parameters for prev/next elements list #}
{% set entries = craft.entries.section(entry.section).level(entry.level).type('not inTheNews') %}
{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(entries) %}
{% set nextEntry = entry.getNext(entries) %}

{% if entries %}
  <nav class="entry-nav">
    <ul>
      {# And make sure to only output the links if the element exists #}
      {% if prevEntry %}
        <li class="previous">
          <p><svg class="icon-arrow-dotted-left" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-dotted-left"/></svg> Previous</p>
          <a href="{{ prevEntry.url }}"><span>{{ prevEntry.title }}</span></a>
        </li>
      {% endif %}
      {% if nextEntry %}
        <li class="next">
          <p>Next <svg class="icon-arrow-dotted" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-dotted"/></svg></p>
          <a href="{{ nextEntry.url }}"><span>{{ nextEntry.title }}</span></a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}