<form action="//ednavigator.us11.list-manage.com/subscribe/post?u=b6932f52073e96f41a2edffa1&amp;id=9c5c7115cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate" target="_blank" novalidate>

  <div class="form-group mc-field-group grid spaced">
    <div class="col-1-2">
      <label for="mce-FNAME" class="sr-only">First Name</label>
      <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="First">
    </div>
    <div class="col-1-2">
      <div class="form-group mc-field-group">
        <label for="mce-LNAME" class="sr-only">Last Name</label>
        <input type="text" value="" name="LNAME" id="mce-LNAME" placeholder="Last">
      </div>
    </div>
  </div>

  <div class="form-group mc-field-group">
    <label for="mce-EMAIL" class="sr-only">Email Address</label>
    <input id="mce-EMAIL" class="required email" name="EMAIL" type="email" placeholder="Email Address">
  </div>

  <div class="hidden-group">

    <div class="form-group mc-field-group">
      <label for="mce-ORG" class="sr-only">Organization (if applicable)</label>
      <input type="text" value="" name="ORG" class="" id="mce-ORG" placeholder="Organization (if applicable)">
    </div>

    <div class="form-group mc-field-group input-group">
      <strong>I would like to receive... </strong>
      <ul class="checkbox-list">
        <li>
          <label for="mce-group[12537]-12537-0" class="checkbox">
            <input type="checkbox" value="1" name="group[12537][1]" id="mce-group[12537]-12537-0">
            <span class="check-indicator"></span> News &amp; Announcements
          </label>
        </li>
        <li>
          <label for="mce-group[12537]-12537-1" class="checkbox">
            <input type="checkbox" value="8" name="group[12537][8]" id="mce-group[12537]-12537-1">
            <span class="check-indicator"></span> EdTips Monthly Newsletter
          </label>
        </li>
        <li>
          <label for="mce-group[12537]-12537-2" class="checkbox">
            <input type="checkbox" value="2" name="group[12537][2]" id="mce-group[12537]-12537-2">
            <span class="check-indicator"></span> Blog Updates
          </label>
        </li>
        <li>
          <label for="mce-group[12537]-12537-3" class="checkbox">
            <input type="checkbox" value="4" name="group[12537][4]" id="mce-group[12537]-12537-3">
            <span class="check-indicator"></span> Job Opportunities
          </label>
        </li>
      </ul>
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6932f52073e96f41a2edffa1_9c5c7115cf" tabindex="-1" value=""></div>
    <div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button submit -yellow">
    </div>

  </div>

</form>