{% import 'macros/notranslate.html' as notranslate %}
{% set localizedEntry = craft.entries.id(entry.id).site('en') %}

{% for block in entry.pageBlocks.all() %}
  {% set blockIndex = loop.index - 1 %}

  {% if block.type == "twoColumnSection" %}
    <section class="two-column-section content-block page-block {{ block.sectionColor }}">
      {% if block.sectionTitle %}
      <h3 class="headline-rule {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].sectionTitle, block.sectionTitle) }}"><span>{{ block.sectionTitle }}</span></h3>
      {% endif %}

      <div class="grid spaced">

        <div class="sub-section col-1-2">
          {% if block.leftColumnTitle %}
          <h4 {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].leftColumnTitle, block.leftColumnTitle, true) }}>{{ block.leftColumnTitle }}</h4>
          {% endif %}
          {% if block.leftColumnContent %}
          <div class="sub-section-content user-content {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].leftColumnContent, block.leftColumnContent) }}">
            {{ block.leftColumnContent }}
          </div>
          {% endif %}
        </div>

        <div class="sub-section col-1-2">
          {% if block.rightColumnTitle %}
          <h4 {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].rightColumnTitle, block.rightColumnTitle, true) }}>{{ block.rightColumnTitle }}</h4>
          {% endif %}
          {% if block.rightColumnContent %}
          <div class="sub-section-content user-content {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].rightColumnContent, block.rightColumnContent) }}">
            {{ block.rightColumnContent }}
          </div>
          {% endif %}
        </div>

      </div>

    </section>
  {% endif %}

  {% if block.type == "singleColumnSection" %}
    <section class="single-column-section content-block page-block">
      {% if block.sectionTitle %}
      <h3 class="headline-rule {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].sectionTitle, block.sectionTitle) }}"><span>{{ block.sectionTitle }}</span></h3>
      {% endif %}

      <div class="grid spaced">

        <div class="sub-section col-1-2">
          {% if block.sectionContent %}
          <div class="sub-section-content user-content {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].sectionContent, block.sectionContent) }}">
            {{ block.sectionContent }}
          </div>
          {% endif %}
        </div>

      </div>

    </section>
  {% endif %}

  {% if block.type == "steppedProcess" %}
    <section class="stepped-process page-block">
      {% if block.sectionTitle %}
      <h3 class="headline-rule {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].sectionTitle, block.sectionTitle) }}"><span>{{ block.sectionTitle }}</span></h3>
      {% endif %}
      <div class="steps grid spaced">
        {% for step in block.steps %}
          {% set stepIndex = loop.index - 1 %}
          <div class="step col-1-{{ block.steps|length }}">
            {% if not loop.last %}
              <svg class="icon-arrow-dotted" role="img"><use xlink:href="#icon-arrow-dotted" /></svg>
            {% endif %}
            <h5 class="step-number notranslate">{{ loop.index }}</h5>
            <h4 {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].steps[stepIndex].stepLabel, step.stepLabel, true) }}>{{ step.stepLabel }}</h4>
            <div class="step-content user-content {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].steps[stepIndex].stepContent, step.stepContent) }}">
              {{ step.stepContent|slice(0, 250) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  {% if block.type == "callToAction" %}
    <section class="call-to-action-section page-block">
      {% if block.sectionTitle %}
        <h4 {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].sectionTitle, block.sectionTitle, true) }}>{{ block.sectionTitle }}</h4>
      {% endif %}
      {% if block.introText %}
        <p class="intro-text {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].introText, block.introText) }}">{{ block.introText }}</p>
      {% endif %}
      <p class="call-to-action"><a href="{{ block.actionLinkInternal|length ? block.actionLinkInternal.one().url : block.actionLinkExternal }}" class="button -blue {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].actionText, block.actionText) }}">{{ block.actionText }}</a></p>
    </section>
  {% endif %}

  {% if block.type == "statWithPhoto" %}
    <section class="stat-with-photo page-block grid block-grid">
      <div class="image-block col-1-2" style="background-image: url({{ block.image.one().getUrl('hero') }})"></div>
      <div class="block col-1-2 {{ block.sectionColor }}">
        <div class="-inner">
          <h2 class="block-title {{ block.headlineStyle }} {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].headline, block.headline) }}">{{ block.headline|nl2br }}</h2>
          <p {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].description, block.description) }}>{{ block.description }}</p>
          {% if block.linkText and (block.internalLink or block.externalLink) %}
            <p class="block-cta">
              <a href="{{ block.internalLink is not empty ? block.internalLink.one().url : block.externalLink }}" class="inline-link {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].linkText, block.linkText) }}"{{ block.internalLink is empty ? ' target="_blank"' : ''}}><span>{{ block.linkText }}</span></a>
            </p>
          {% endif %}
        </div>
    </section>
  {% endif %}

  {% if block.type == "twoColumnStatWithPhoto" %}
    <section class="two-column-stat-with-photo{{ block.sectionPhoto|length ? ' with-photo' : '' }} page-block">
      {% if block.sectionPhoto|length %}
        {% set transformedImage = craft.imager.transformImage(block.sectionPhoto.one(), { width: 1200, ratio: 60/11 }) %}
        <div class="section-photo-container">
          <div class="section-photo treated-image" style="background-image: url('{{ transformedImage.getUrl() }}');"></div>
        </div>
      {% endif %}
      <div class="grid block-grid">

        {% if block.leftColumnStatFigure %}
          <div class="stat block col-1-2">
            <div class="-inner">
              <h2 class="block-stat notranslate">{{ block.leftColumnStatFigure }}</h2>
              {% if block.leftColumnStatDescription %}
                <p {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].leftColumnStatDescription, block.sectionTitle, true) }}>{{ block.leftColumnStatDescription }}</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if block.rightColumnStatFigure %}
          <div class="stat block col-1-2">
            <div class="-inner">
              <h2 class="block-stat notranslate">{{ block.rightColumnStatFigure }}</h2>
              {% if block.rightColumnStatDescription %}
                <p {{ notranslate.check(localizedEntry[0].pageBlocks[blockIndex].rightColumnStatDescription, block.rightColumnStatDescription, true) }}>{{ block.rightColumnStatDescription }}</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

{% endfor %}