{% if relatedEntries|length %}
  <div class="related-posts">
    <h4>Related Posts</h4>
    <div class="related-posts-carousel">
      {% for relatedEntry in relatedEntries.all() %}
        {% set relatedEntryTopics = '' %}
        {% if entry.section.handle == 'resourcesEntries' %}
          {% set relatedEntryTopics = relatedEntry.resourceTopic %}
        {% elseif entry.section.handle == 'ideasEntries' %}
          {% set relatedEntryTopics = relatedEntry.ideasTags %}
        {% endif %}
        <article>
          <h5><a href="{{ relatedEntry.url }}">{{ relatedEntry.title }}</a></h5>
          <ul class="topics">
            <svg class="icon" aria-hidden="true" role="presentation"><use xlink:href="#icon-tag"/></svg>
            {% for topic in relatedEntryTopics.all() %}
              <li><a href="{{ topic.url }}">{{ topic.title }}{{ loop.index < relatedEntryTopics.all()|length ? ', ' : '' }}</a></li>
            {% endfor %}
          </ul>
        </article>
      {% endfor %}
    </div>
  </div>
{% endif %}