{% if entry.resourceDownloads|length %}
  <div class="resource-downloads">

    {% for resource in entry.resourceDownloads.all() %}
      <div class="resource-download{{ resource.resourceThumbnail|length ? ' has-thumb' : '' }}">
        {% if resource.resourceThumbnail|length %}
          <a class="download-thumb" href="{{ resource.resourceFile.one().getUrl() }}">
            <img src="{{ resource.resourceThumbnail.one().getUrl('thumbnail') }}" alt="{{ resource.resourceTitle }}">
          </a>
        {% endif %}
        <div class="resource-info">
          <h3><a href="{{ resource.resourceFile.one().getUrl() }}" class="ga-download" target="_blank" data-resourceTitle="{{ resource.resourceTitle }}">{{ resource.resourceTitle }}</a></h3>
          {% if resource.resourceDescription %}
            {{ resource.resourceDescription }}
          {% endif %}

          <div class="resource-link">
            <a href="{{ resource.resourceFile.one().getUrl() }}" class="button -big with-icon -blue ga-download" target="_blank" data-resourceTitle="{{ resource.resourceTitle }}"><span>Download</span> <svg class="icon" aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
{% endif %}