{% if entry.resourceDownloads|length %}
  <div class="resource-downloads">

    {% for resource in entry.resourceDownloads.all() %}
      <div class="resource-download{{ resource.resourceThumbnail|length ? ' has-thumb' : '' }}">
        {% if resource.resourceThumbnail|length %}
          <a class="download-thumb" href="{{ resource.resourceFile.one().getUrl() }}">
            <img src="{{ resource.resourceThumbnail.one().getUrl('thumbnail') }}" alt="{{ resource.resourceTitle }}">
          </a>
        {% endif %}
        <div class="resource-info">
          <h3>{{ resource.resourceTitle }}</h3>
          {% if resource.resourceDescription %}
            {{ resource.resourceDescription }}
          {% endif %}

          <div class="resource-link">
            <a href="{{ resource.resourceFile.one().getUrl() }}" class="inline-link ga-download" target="_blank" data-resourceTitle="{{ resource.resourceTitle }}"><span>Download resource</span></a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
{% endif %}