{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page general-page-template sidebar-right page-' ~ entry.slug %}
{% set bodyId = entry.slug %}

{% block content %}
  
  <section class="intro-section">
    {% if entry.pageDescription %}
    <h2 class="page-description">
      {{ entry.pageDescription }}
    </h2>
    {% endif %}

    {% if entry.introSections.introSection %}
      <div class="intro-sections grid spaced">
        {% for introSection in entry.introSections.introSection %}
          <div class="col-1-2">
            <h4>{{ introSection.sectionTitle }}</h4>
            <div class="intro-section-content user-content">
              {{ introSection.sectionContent }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>

  {% for block in entry.pageBlocks %}

    {% if block.type == "twoColumnSection" %}
      <section class="two-column-section content-block page-block">
        {% if block.sectionTitle %}
        <h3 class="headline-rule"><span>{{ block.sectionTitle }}</span></h3>
        {% endif %}

        <div class="grid spaced">

          <div class="sub-section col-1-2">
            {% if block.leftColumnTitle %}
            <h4>{{ block.leftColumnTitle }}</h4>
            {% endif %}
            {% if block.leftColumnContent %}
            <div class="sub-section-content user-content">
              {{ block.leftColumnContent }}
            </div>
            {% endif %}
          </div>

          <div class="sub-section col-1-2">
            {% if block.rightColumnTitle %}
            <h4>{{ block.rightColumnTitle }}</h4>
            {% endif %}
            {% if block.rightColumnContent %}
            <div class="sub-section-content user-content">
              {{ block.rightColumnContent }}
            </div>
            {% endif %}
          </div>

        </div>

      </section>
    {% endif %}

    {% if block.type == "singleColumnSection" %}
      <section class="single-column-section content-block page-block">
        {% if block.sectionTitle %}
        <h3 class="headline-rule"><span>{{ block.sectionTitle }}</span></h3>
        {% endif %}

        <div class="grid spaced">

          <div class="sub-section col-1">
            {% if block.sectionContent %}
            <div class="sub-section-content user-content">
              {{ block.sectionContent }}
            </div>
            {% endif %}
          </div>

        </div>

      </section>
    {% endif %}

    {% if block.type == "steppedProcess" %}
      <section class="stepped-process page-block">
        {% if block.sectionTitle %}
        <h3 class="headline-rule"><span>{{ block.sectionTitle }}</span></h3>
        {% endif %}
        <div class="steps grid spaced">
          {% for step in block.steps %}
            <div class="step col-1-5">
              {% if not loop.last %}
                <svg class="icon-arrow-dotted" role="img"><use xlink:href="#icon-arrow-dotted" /></svg>
              {% endif %}
              <h5 class="step-number">{{ loop.index }}</h5>
              <h4>{{ step.stepLabel }}</h4>
              <div class="step-content user-content">
                {{ step.stepContent|slice(0, 250) ~ '...' }}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if block.type == "callToAction" %}
      <section class="call-to-action-section page-block">
        {% if block.sectionTitle %}
          <h4>{{ block.sectionTitle }}</h4>
        {% endif %}
        {% if block.introText %}
          <p class="intro-text">{{ block.introText }}</p>
        {% endif %}
        <p class="call-to-action"><a href="{{ block.actionLinkInternal ? block.actionLinkInternal.first().url : block.actionLinkExternal }}" class="button"{{ block.actionLinkExternal ? ' target="_blank"' }}>{{ block.actionText }}</a></p>
      </section>
    {% endif %}

    {% if block.type == "statWithPhoto" %}
      <section class="stat-with-photo page-block grid block-grid">
        <div class="image-block col-1-2" style="background-image: url({{ block.image.last().getUrl('hero') }})"></div>
        <div class="block col-1-2 {{ block.sectionColor }}">
          <div class="-inner">
            <h2 class="block-title {{ block.headlineStyle }}">{{ block.headline|nl2br }}</h2>
            <p>{{ block.description }}</p>
            {% if block.linkText and (block.internalLink or block.externalLink) %}
              <p class="inline-links-container">
                <a href="{{ block.internalLink ? block.internalLink.first().url : block.externalLink }}" class="inline-link"><span>{{ block.linkText }}<span class="icon"><svg class="icon-arrow-dotted" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-dotted"></use></svg></span></span></a>
              </p>
            {% endif %}
          </div>
      </section>
    {% endif %}

  {% endfor %}

{% endblock %}