{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page general-page-template sidebar-right page-' ~ entry.slug %}
{% set bodyId = entry.slug %}

{% block content %}
  
  <section class="intro-section">
    {% if entry.pageDescription %}
    <h2 class="page-description">
      {{ entry.pageDescription }}
    </h2>
    {% endif %}

    {% if entry.introSections.introSection %}
      <div class="intro-sections grid spaced">
        {% for introSection in entry.introSections.introSection %}
          <div class="col-1-2">
            <h4>{{ introSection.sectionTitle }}</h4>
            <div class="intro-section-content user-content">
              {{ introSection.sectionContent }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>

  {% include 'partials/_page-blocks.html' %}

{% endblock %}