{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page general-page-template page-' ~ entry.slug %}
{% set bodyId = entry.slug %}

{% block content %}

  {% include 'partials/_intro-section.html' %}

  {% include 'partials/_page-blocks.html' %}

{% endblock %}