{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page people-page-template page-' ~ entry.slug %}
{% set bodyId = 'page-' ~ entry.slug %}

{% block content %}

  {% include 'partials/_intro-section.html' %}

  {% if entry.slug == 'navigators-staff' or entry.slug == 'navegantes-personal' or entry.slug == 'our-partners' %}

    {% set staffLocations = locations.locations %}
    {% set activeLocations = [] %}
    {% for location in staffLocations %}
      {% for person in entry.people.person %}
        {% for location in person.locations %}
          {% set activeLocations = activeLocations|merge([location]) %}
        {% endfor %}
      {% endfor %}
    {% endfor %}

    <section class="people-section">

      {% for location in staffLocations if location.locationName in activeLocations %}

        <h3 class="headline-rule"><span {{ location.locationName != 'National' ? ' class="notranslate"' : '' }}>{{ location.locationName }}</span></h3>

        <div class="people-grid grid spaced">

          {% for person in entry.people.person %}

            {% if location.locationName in person.locations %}

              {% if person.personImage|length %}
                {% set image = person.personImage.first().getUrl() %}
                {% if 'partners' in bodyId or 'socios-empresariales' in bodyId %}
                  {% set transformedImage = craft.imager.transformImage(image, { effects: { colorize: '#a3b0b2' } }) %}
                {% else %}
                  {% set transformedImage = craft.imager.transformImage(image, { effects: { grayscale: true, modulate: [120, 90, 0] } }) %}
                {% endif %}
              {% endif %}
                <div class="person col-1-2">
                  {% if person.personImage|length %}
                  <div class="person-image">
                    <img src="{{ transformedImage.getUrl() }}">
                  </div>
                  {% endif %}
                  <div class="person-content">
                    <h4 class="notranslate">{{ person.personName }}</h4>

                    <h5>{{ person.personTitle }}</h5>
                    {% if person.personDescription %}
                      <div class="person-description user-content">
                        {{ person.personDescription }}
                      </div>
                    {% endif %}
                  </div>
                </div>

            {% endif %}

          {% endfor %}

        </div>

      {% endfor %}

  {% else %}

    <section class="people-section">
      <h3 class="headline-rule"><span>{{ entry.peopleSectionLabel }}</span></h3>
      <div class="people-grid grid spaced">
        {% for person in entry.people.person %}
        {% if person.personImage|length %}
          {% set image = person.personImage.first().getUrl() %}
          {% if 'partners' in bodyId or 'socios-empresariales' in bodyId %}
            {% set transformedImage = craft.imager.transformImage(image, { effects: { colorize: '#a3b0b2' } }) %}
          {% else %}
            {% set transformedImage = craft.imager.transformImage(image, { effects: { grayscale: true, modulate: [120, 90, 0] } }) %}
          {% endif %}
        {% endif %}
          <div class="person col-1-2">
            {% if person.personImage|length %}
            <div class="person-image">
              <img src="{{ transformedImage.getUrl() }}">
            </div>
            {% endif %}
            <div class="person-content">
              <h4 class="notranslate">{{ person.personName }}</h4>

              <h5>{{ person.personTitle }}</h5>
              {% if person.personDescription %}
                <div class="person-description user-content">
                  {{ person.personDescription }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

    {% endif %}
  </section>
{% endblock %}