// Variables

// Colors
$black: #1c1e21;
$white: #fff;
$blue: #4d7dee;
$gray: #a3b0b2;
$gray-light: #f0f1f2;
$yellow: #f7cc0c;
$orange: #f9a01c;
$green: #728256;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$bpSm: 30em; // 480px
$bpMd: 43.75em; // 700px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px

// Spacing
$global-spacing: 50px;