# START Custom redirects, SSL
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ensure consistent www URL
  RewriteCond %{HTTP_HOST} !^www\.ednavigator\.com [NC]
  RewriteCond %{HTTP_HOST} !^ednavigator\.localhost [NC]
  RewriteCond %{HTTP_HOST} !^ednavigator\.craft [NC]
  RewriteRule ^(.*)$ https://www.ednavigator.com/$1 [R=301,L]

  # Force SSL
  RewriteCond %{HTTP:X-Forwarded-SSL} !on
  RewriteCond %{HTTP_HOST} !^ednavigator\.craft [NC]
  RewriteCond %{HTTP_HOST} !^ednavigator\.localhost [NC]
  RewriteCond %{HTTP_HOST} !^ednavigator\.firebelly\.co [NC]
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# START Craft
<IfModule mod_rewrite.c>
  RewriteEngine On
  # Send would-be 404 requests to Craft
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
  RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
# END Craft