{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page  sidebar-right page-' ~ entry.slug %}
{% set bodyId = entry.slug %}

{% block content %}

  {% include 'partials/_intro-section.html' %}

  {% set positions = entry.positions %}
  {% if positions | length %}
    <section class="positions">
      <div class="section-links link-list">
        <h3 class="headline-rule"><span>Open positions</span></h3>
        <ul class="section-links">
          {% for position in positions %}
            <li><a href="{{ position.pdf.first().url }}" class="inline-link"><span>{{ position.positionTitle }}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endif %}

  {% include 'partials/_page-blocks.html' %}

  <section class="section-links">
    {% include 'partials/_entry-nav.html' %}
  </section>
{% endblock %}