{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page who-we-are' %}
{% set bodyId = 'who-we-are-page' %}

{% block content %}

  {% include 'partials/_intro-section.html' %}

  <section class="operating-principles">
    <h3 class="headline-rule"><span>{{ entry.principlesSectionLabel }}</span></h3>
    <div class="principles grid spaced">
      {% for principle in entry.principles.principle %}
        <div class="principle col-1-3">
          <div class="principle-icon">
            <img src="{{ principle.principleIcon.last().getUrl() }}">
          </div>
          <h4>{{ principle.principleLabel }}</h4>
          <div class="principle-content user-content">
            {{ principle.principleDescription }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  {% include 'partials/_page-blocks.html' %}

  <section class="section-links">
    {% include 'partials/_entry-nav.html' %}
  </section>
{% endblock %}