//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 14px;
  font-family: $font-regular;
  
  @include media-md {
    padding: 0 $global-spacing $global-spacing 0;
  }
}

h1 {
  @include headline-one;
}

h2 {
  @extend .headline-two;
}

h3 {
  @extend .headline-three;
}

p {
  font-size: 1em;
  line-height: 1.428571429;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px; // change to whatever 
  position: relative;
  @include clearfix();
  padding: 0 $global-spacing;
}