// Forms

form {
  input {
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
    background: none;
    color: $gray-dark;
    @extend .headline-three;
    border-width: 0 0 1px 0;
    border-color: $gray-dark;
    -webkit-appearence: none;
    &:focus {
      outline: none;
      border-color: $brand-primary;
    }
    &::-webkit-input-placeholder {
       color: $gray-dark;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $gray-dark;  
    }
    &:-ms-input-placeholder {  
       color: $gray-dark;  
    }
  }

  .form-group {
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}