// Blocks

// Block grid
.block-grid {
  display: flex;
  flex-direction: column;
  @include media-lg {
    flex-direction: row;

    &.align-right {
      flex-direction: row-reverse;
    }
  }
}

.block {
  position: relative;
  background-size: cover;
  padding: $global-spacing;
  background-position: center center;

  .-inner {
    max-width: 600px;
  }

  .block-descriptor {
    @include headline-four;
    margin: 0 0 20px;
  }

  .block-title {
    @include headline-one;
    margin-bottom: $global-spacing;
    // Alternative Styles
    &.largeNumeral {
      @include headline-numeral;
    }
    &.quote {
      @extend .headline-quote;
    }

    a {
      text-decoration: none;
      transition: color .2s ease-out;
    }
  }

  .block-cta {
    margin: $global-spacing 0 0;
  }

  .inline-links-container {
    margin-top: $global-spacing;
    p {
      margin: 0;
    }
  }

  @include media-lg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: #{$global-spacing * 4};

    .block-title {
      margin-bottom: $global-spacing * 2;
    }

    .block-cta {
      margin: #{$global-spacing * 2} 0 0;
    }

    .inline-links-container {
      margin-top: $global-spacing * 2;
    }
  }
}

.image-block {
  height: 0;
  position: relative;
  background-size: cover;
  padding-bottom: 57.1428571%;
  background-position: center center;
  @include min-screen($breakpoint-nav) {
    &::before {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      content: '';
      height: 180px;
      position: absolute;
      background-image: linear-gradient(rgba($black,.75), rgba($black,0));
    }
  }
  @include max-screen($breakpoint-lg) {
    order: -1;
  }
  @include media-lg {
    height: auto;
    padding-bottom: 0;
  }
}