// Entry Navigation (templats/partials/_entry-nav.html)

.entry-nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      &.previous {
        padding-left: $global-spacing;
        .icon {
          left: 0;
        }
      }
      &.next {
        padding-right: $global-spacing;
        .icon {
          right: 0;
        }
      }
    }
    li + li {
      margin-top: #{$vertical-beat * 3};
    }
  }

  p {
    @extend .headline-descriptor;
    margin: 0 0 #{$vertical-beat * 3};
  }

  .inline-link.borderless {
    position: static;

    .icon {
      bottom: 0;
      margin: 0;
      position: absolute;
      &::after {
        top: 7px;
      }
    }
  }

  .previous {
    text-align: right;
  }

  @include media-md {
    ul {
      @include clearfix;

      li {
        width: 50%;
        padding: 0 $global-spacing;

        .inline-link.borderless {
          position: relative;

          .icon {
            position: relative;
            &::after {
              top: 4px;
            }
          }
        }

        &.previous {
          float: left;
        }
        &.next {
          float: right;
        }

        + li {
          margin: 0;
        }
      }
    }

    p {
      display: block;
    }
  }
}