// Entry Navigation (templats/partials/_entry-nav.html)

.entry-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      &.previous {
        padding-left: $global-spacing;
      }
      &.next {
        padding-right: $global-spacing;
      }
    }
    li + li {
      margin-top: #{$vertical-beat * 3};
    }

    a {
      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  p {
    @extend .headline-four;
    margin: 0 0 #{$vertical-beat * 3};

    svg {
      width: 50px;
      height: 10px;
      margin: 0 10px;
    }
  }

  .previous {
    text-align: right;
  }

  @include media-md {
    ul {
      @include clearfix;

      li {
        width: 50%;
        padding: 0 $global-spacing;

        &.previous {
          float: left;
          padding-right: $global-spacing * 2;
        }
        &.next {
          float: right;
          padding-left: $global-spacing * 2;
        }

        + li {
          margin: 0;
        }
      }
    }

    p {
      display: block;
    }
  }
}