// Filter (Used on blog and resources pages)

.filter-section {
  padding-top: $global-spacing;
  padding-left: $global-spacing;
  padding-right: $global-spacing;

  .search {
    @include media-lg {
      padding-right: #{$col * 2};
    }
  }

  .filter:first-of-type {
    @include media-lg {
      padding-right: #{$col * 4};
    }
  }

  @include media-lg {
    padding-left: #{$global-spacing * 4};
    padding-right: #{$global-spacing * 4};
  }
}