// Footer

.site-footer {
  color: $gray-one;
  background: $black;
  position: relative;
  padding: #{$global-spacing * 2} $global-spacing;

  @include media-lg {
    padding: $global-spacing * 4;
  }

  h5 {
    @include headline-four;
    margin-bottom: 30px;
  }

  .newsletter {
    margin-bottom: $global-spacing;
    @include media-lg {
      margin-bottom: 0;

      form {
        margin-right: $global-spacing * 2;
      }
    }

    h5 {
      margin-bottom: 20px;
    }
  }

  .links-section {
    @include media-xl {
      display: flex;

      > div {
        width: 50%;
      }
    }
    @include media-lg {
      &.col-1-2 {
        padding-left: #{$global-spacing * 4};
      }

      > div {
        width: auto;
      }
    }
  }

  .contact-info {
    @include media-md {
      padding-right: $global-spacing;
    }
    @include min-screen(1400px) {
      padding-right: #{$global-spacing * 4};
    }

    a {
      transition: color .2s ease-out;
      &:hover {
        color: $brand-primary;
      }
    }
    .email-address,
    .phone-number {
      margin: 0;
      @extend .headline-three;
    }
    .phone-number a {
      text-decoration: none;
    }
    .address {
      margin-top: 20px;
    }
  }

  .connect {
    margin-top: $global-spacing;
    @include media-xl {
      margin-top: 0;
    }

    > div {
      vertical-align: top;
      display: inline-block;

      &:first-of-type {
        margin-right: $global-spacing;
      }

      @include media-xl {
        display: block;

        h5 {
          margin-bottom: 22px;
        }

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 60px;

          h5 {
            margin-bottom: 34px;
          }
        }
      }
    }
  }

  .social {
    margin: 0;
    padding: 0;
    display: flex;
    height: 22px;
    @include clearfix;
    align-items: center;
    @include media-md {
      display: block;
    }

    li {
      float: left;
      list-style: none;
      margin-right: $vertical-beat;

      @include media-md {
        margin-bottom: $vertical-beat;
      }
    }

    a {
      display: inline-block;
      &:hover {
        .icon {
          fill: $brand-primary;
        }
      }
      &:focus {
        outline: none;
      }
    }

    .icon {
      width: 15px;
      height: 15px;
      fill: $gray-one;
      vertical-align: top;
      transition: fill .2s ease-out;
      &.icon-twitter,
      &.icon-medium {
        width: 18px;
      }
    }

    &.app-links {
      li {
        margin-right: 20px;
      }
      .icon {
        &.icon-apple {
          width: 18px;
          height: 22px;
        }
        &.icon-android {
          width: 18px;
          height: 22px;
        }
      }
    }
  }

  .address {
    span {
      display: block;
    }
  }

  .post-footer {
    left: 0;
    top: 100%;
    width: 100%;
    color: $gray-two;
    position: absolute;
    font-smoothing: antialiased;
    padding: #{$vertical-beat * 2} $global-spacing;

    @include media-lg {
      min-height: $global-spacing;
      padding: #{$vertical-beat * 2} #{$global-spacing * 4};
    }

    p {
      @include headline-four;
      margin: 0;
    }

    a {
      transition: color .2s ease-out;
      &:hover {
        color: $black;
      }
    }

    nav {
      ul {
        padding: 0;
        margin: 0 0 -#{$vertical-beat};
        list-style: none;
        li {
          @include headline-four;
          display: inline-block;
          margin-bottom: $vertical-beat;
          margin-right: #{$vertical-beat * 2};
        }
      }
    }

    .-right {
      margin-top: #{$vertical-beat * 2};
      @include media-lg {
        margin-top: 0;
        padding-left: #{$global-spacing * 4};
      }
    }
  }
}