// Forms

form {
  input,
  textarea {
    width: 100%;
    color: $black;
    padding: 10px 0;
    border-radius: 0;
    appearance: none;
    background: none;
    border-color: $gray-one;
    @extend .headline-three;
    border-width: 0 0 1px 0;
    transition: border-color .2s ease-out;
    &:focus {
      outline: none;
      border-color: $brand-primary;
    }
    &::-webkit-input-placeholder {
       color: $black;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $black;
    }
    &:-ms-input-placeholder {
       color: $black;
    }
  }

  .form-group {
    + .form-group {
      margin-top: #{$vertical-beat * 2};
    }

    [class*='col-'] {
      margin-top: #{$vertical-beat * 2};
      &:first-of-type {
        margin-top: 0;
      }

      @include media-lg {
        margin-top: 0;
      }
    }

    &.grid.spaced {
      @include media-lg {
        padding: 0 $global-spacing;
        [class*='col-'] {
          padding: 0 $global-spacing;
        }
      }
    }
  }

  // Reuired Styles
  .input-wrap.required {
    position: relative;
    &::after {
      @include headline-four;
      top: 0;
      color: $blue;
      position: absolute;
      content: '*Required';
      right: $vertical-beat;
    }
  }
  @include media-lg {
    .form-group.spaced {
      .input-wrap.required::after {
        right: $global-spacing + $vertical-beat;
      }
    }
  }

  input[type="search"] {
    border-radius: 0;
    appearance: none;
  }

  button[type="submit"] {
    padding: 0;
    width: 15px;
    border: none;
    height: 50px;
    background: none;
    svg {
      width: 15px;
      height: 15px;
      fill: $black;
      vertical-align: top;
      transition: fill .2s ease-out;
    }

    &:hover {
      svg {
        fill: $brand-primary;
      }
    }
  }

  textarea {
    max-width: 100%;
    border-top: none;
    border-left: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }

  .submit {
    margin-top: $global-spacing * 2;
  }

  // Checkboxes
  .checkbox-list {
    li {
      margin-top: $vertical-beat;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .checkbox {
    position: relative;

    input {
      @extend .sr-only;
    }

    input:checked ~ .check-indicator::after {
      opacity: 1;
    }
    input:focus ~ .check-indicator {
      border-color: $brand-primary;
    }

    .check-indicator {
      width: 8px;
      height: 8px;
      bottom: 1px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      margin-right: $vertical-beat;
      border: 1px solid $gray-one;
      &::after {
        top: 0;
        left: 0;
        opacity: 0;
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        will-change: opacity;
        background: $gray-one;
        transition: opacity .15s ease-out;
      }
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

.search-wrap {
  position: relative;

  input[type=search] {
    box-sizing: border-box;
    padding-right: $global-spacing;
    &::placeholder {
      color: $gray-one;
    }

    @include media-md {
      font-size: 22px;
      line-height: 30px;
    }
  }

  button[type=submit] {
    top: 0;
    right: 0;
    position: absolute;
  }
}

// Custom select styles
.select-wrap {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  &:after {
    right: 0;
    top: 18px;
    content: '';
    width: 10px;
    height: 10px;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    transform: rotate(90deg);
    background: url('../svgs/icon-arrow.svg');
  }

  select {
    @include headline-three;
    width: 100%;
    padding: 10px 0;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    color: $gray-one;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: $gray-one;
    &:focus {
      outline: none;
    }

    @include media-md {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

// Newsletter signup for
.newsletter-form {

  input {
    color: $gray-one;
    border-color: $gray-one;
    &::-webkit-input-placeholder {
       color: $gray-one;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $gray-one;
    }
    &:-ms-input-placeholder {
       color: $gray-one;
    }
  }

  .hidden-group {
    margin-top: #{$vertical-beat * 2};
  }

  strong {
    display: block;
    font-weight: normal;
    @extend .headline-three;
    padding: $vertical-beat 0;
  }

  .submit {
    &:focus {
      color: $black;
      background: $brand-primary;
    }
  }
}