// Post Cards

.posts-section {
  padding-left: $global-spacing;
  padding-right: $global-spacing;

  .results-text {
    @include headline-four;
  }

  @include media-lg {
    padding-left: #{$global-spacing * 4};
    padding-right: #{$global-spacing * 4};
  }
}

.post-grid {
  padding-bottom: $global-spacing * 2;

  .grid-sizer,
  article {
    width: 100%;

    @include media-md {
      width: 50%;
    }
    @include media-lg {
      width: 33.3333%;
    }
  }

  @include media-md {
    margin-left: -10px;
    width: calc(100% + 20px);

    .post-card {
      padding: 0 10px;
    }
  }
}

// Load More Section
.load-more-section {
  text-align: center;
  position: relative;
  background: $offwhite;
  padding: $global-spacing;

  @include media-lg {
    padding: 0 #{$global-spacing * 4} #{$global-spacing * 2};

    .load-more {
      width: 33.3333%;
    }
  }
}

.post-card {
  position: relative;

  + .post-card {
    margin-top: $global-spacing;

    @include media-md {
      margin-top: 0;
    }
  }

  > .-inner {
    position: relative;
  }

  .ribbons {
    top: 0;
    position: absolute;
    left: $global-spacing;

    svg {
      width: 35px;
      height: 45px;
      .fabric {
        stroke: $white;
        stroke-width: 2px;
      }

      + svg {
        margin-left: 15px;
      }
    }

    @include media-lg {
      left: $global-spacing * 2;
    }
  }

  .post-image {
    height: 0;
    padding-bottom: 53%;
    background-size: cover;
    background-position: center center;
  }
  .post-content {
    padding: $global-spacing;
    background-color: $white;

    .post-title {
      @include headline-two;
      margin: 0;

      a {
        color: $blue;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    .post-excerpt {
      color: $gray-one;
    }

    .post-meta {
      &,
      a {
        color: $gray-one;
      }

      > p {
        margin-bottom: 0;
      }

      > * {
        margin-top: $vertical-beat;
      }

      svg {
        width: 15px;
        height: 15px;
        fill: $black;
        margin-right: 10px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
        }
      }
    }

    .cta {
      margin: $global-spacing 0 0;
    }
  }

  @include media-md {
    margin-bottom: 20px;
  }

  @include media-lg {
    .post-content {
      padding: 30px 40px;
    }
  }
}

.featured-post-section,
.featured-post-carousel {
  .post-card {
    @include media-lg {
      > .-inner {
        display: flex;
      }
      .post-image {
        width: 50%;
        height: auto;
        flex-basis: 50%;
        max-height: none;
        padding-bottom: 0;
      }
      .post-content {
        width: 50%;
        flex-basis: 50%;
        padding: 80px #{$global-spacing * 4} 110px;
      }
    }
  }
}