// Common Section Styles

.section {
  .section-title {
    @include headline-four;
    margin: 0 0 $vertical-beat;
  }
  .section-headline {
    @include headline-two;
    margin-top: 0;
  }
  .section-cta {
    margin: #{$global-spacing * 2} 0 0;
  }
}