// User Content

.user-content {
  a:not(.inline-link) {
    color: $blue;
    transition: color .2s ease-out;
    &:hover {
      color: $yellow-text;
    }
  }

  ul, ol {
    padding: 0;
    margin: #{$vertical-beat * 3} 0;
    li {
      font-size: 1em;
      list-style: none;
      position: relative;
      line-height: 1.428571429;
      &::before {
        position: absolute;
      }
    }
  }

  ul {
    li {
      font-size: 1em;
      list-style: none;
      position: relative;
      line-height: 1.428571429;
      &::before {
        top: .5em;
        width: 5px;
        height: 5px;
        content: '';
        left: -22px;
        background: url('../svgs/icon-arrow.svg');
      }
    }
  }

  ol {
    counter-reset: listItem;
    li {
      counter-increment: listItem;
      &::before {
        left: -24px;
        content: counter(listItem) ".";
      }
    }
  }

  hr {
    border: none; // cancel out defaults
    margin: $global-spacing 0;
    border-top: 1px solid $black;
  }
}