// Video Modal

#video-modal {
  top: 50%;
  z-index: 20;
  display: none;
  position: fixed;
  left: $global-spacing;
  right: $global-spacing;
  transform: translateY(-50%);
  @include media-md {
    left: $global-spacing * 4;
    right: $global-spacing * 4;
  }

  .video-container {
    position: relative;
  }

  .video-modal-close {
    top: 15px;
    left: 100%;
    padding: 0;
    border: none;
    background: none;
    margin-left: 15px;
    position: absolute;
    &:focus {
      outline: none;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: $white;
    }
  }
}