{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set limit = 9 %}

{% set title = "Ideas" %}
{% set bodyClass = 'page page-browse ideas-browse' %}

{% set baseSlug = craft.app.request.getSegment(2) %}
{% set taxSlug = craft.app.request.getSegment(3) %}
{% if baseSlug == 'all' %}
  {% set pageHeadline = 'Browse all Ideas' %}
{% elseif baseSlug == 'search' or baseSlug == 'buscar' %}
  {% set query = craft.app.request.getParam('q') %}
  {% set results = craft.entries.section('ideasEntries').search(query).orderBy('score') %}
  {% set params = { section: 'ideasEntries', search: query, orderBy: 'score' } %}
  {% if results|length %}
    {% set pageHeadline = results|length > 1 ? results|length ~ ' results found for “' ~ query ~ '”' : results|length ~ ' result found for “' ~ query ~ '”' %}
  {% else %}
    {% set pageHeadline = 'No results found for "' ~ query ~ '"' %}
  {% endif %}
{% elseif baseSlug == 'type' or baseSlug == 'tipo' %}
  {% set typeHandle = slug|split('-') %}
  {% if typeHandle|length > 1 %}
    {% set typeString = [] %}
    {% for word in typeHandle %}
      {% if loop.index != 1 %}
        {% set word = word|capitalize %}
      {% endif %}
      {% set typeString = typeString|merge([word]) %}
    {% endfor %}
    {% set typeHandle = typeString|join %}
  {% endif %}
  {% set pageHeadline = 'Browsing all ' ~ slug|replace('-', ' ')|title ~ 's' %}
{% elseif baseSlug == 'category' or baseSlug == 'tema' %}
  {% set pageHeadline = 'category'|t|capitalize ~ ': ' ~ category|replace('-', ' ')|title  %}
{% elseif baseSlug == 'tag' or baseSlug == 'ubicacion' %}
  {% set pageHeadline = 'tag'|t|title ~ ': ' ~ tag|replace('-', ' ')|title  %}
{% endif %}

{% if baseSlug == 'all' %}
  {% set featuredPosts = craft.entries.section('ideasEntries').search('featuredPost:1').limit(3) %}
  {% set params = { section: 'ideasEntries', limit: limit } %}
{% elseif tag is defined %}
  {% set featuredPosts = craft.entries.section('ideasEntries').relatedTo(tag).search('featuredPost:1').limit(3) %}
  {% set params = { section: 'ideasEntries', limit: limit, relatedTo: tag } %}
{% elseif category is defined %}
  {% set featuredPosts = craft.entries.section('ideasEntries').relatedTo(category).search('featuredPost:1').limit(3) %}
  {% set params = { section: 'ideasEntries', limit: limit, relatedTo: category } %}
{% elseif baseSlug == 'type' or baseSlug == 'tipo' %}
  {% set featuredPosts = craft.entries.section('ideasEntries').type(typeHandle).search('featuredPost:1').limit(3) %}
  {% set params = { section: 'ideasEntries', limit: limit, type: typeHandle } %}
{% endif %}

{% block content %}

  {% if not craft.app.request.isAjax %}

    {% include 'partials/_intro-section.html' with {'customHeadline': pageHeadline} %}

    {% if baseSlug != 'search' and featuredPosts|length %}
      {% if featuredPosts|length > 1 %}
        <div class="section featured-posts-section">
          <div class="featured-post-carousel">
            {% for featuredPost in featuredPosts.all() %}
              {% include 'posts/_post-article.html' with { 'post': featuredPost, 'featured': true } %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="section featured-post-section">
          {% include 'posts/_post-article.html' with { 'post': featuredPosts.one(), 'featured': true } %}
        </div>
      {% endif %}
    {% endif %}

    {% include 'ideas/_filter.html' %}

  {% endif %}

  {% paginate craft.entries(params) as pageInfo, articles %}

  {% if not craft.app.request.isAjax %}
    <div class="section posts-section">
      {% if baseSlug != 'all' %}
        {% if baseSlug == 'search' %}
          <p class="results-text">{{ pageHeadline }}</p>
        {% else %}
          <p class="results-text">{{ articles|length }} results for "{{ pageHeadline }}"</p>
        {% endif %}
      {% endif %}
  {% endif %}

    {% if articles|length %}
      {% if not craft.app.request.isAjax %}
        <div class="post-grid masonry">
          <div class="grid-sizer"></div>
      {% endif %}
        {% for post in articles %}
          {% if post.featuredPost %}
            {% set args = { 'post': post, 'featured': true } %}
          {% else %}
            {% set args = { 'post': post } %}
          {% endif %}
          {% include 'posts/_post-article.html' with args %}
        {% endfor %}
      {% if not craft.app.request.isAjax and baseSlug != 'search' and articles|length >= limit %}
        </div>
        <div class="load-more-section">
          <button id="load-more" class="load-more button -big -blue with-icon" data-collection="resources" data-page="{{ pageInfo.currentPage + 1 }}" data-total-pages="{{ pageInfo.totalPages }}"><span>Load More</span> <svg class="icon" aria-hidden="true" role="presentation"><use xlink:href="#icon-cross"/></svg></button>
        </div>
      {% endif %}
    {% else %}
      {% if not craft.app.request.isAjax %}
        <div class="no-posts">
          <h2>There are no posts that match that query.</h2>
        </div>
      {% endif %}
    {% endif %}

  {% if not craft.app.request.isAjax %}
    </div>
  {% endif %}

{% endblock %}