{% set entryIds = craft.entries.section('ideasEntries').ids() %}
{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).group('ideasCetegories').all() %}
{% if craft.app.language == "en-US" %}
  {% set actionUrl = url('ideas/search') %}
{% elseif craft.app.language == 'es-US' %}
  {% set actionUrl = url('ideas/buscar') %}
{% endif %}

<div class="filter-section grid">

  <div class="search col-1-2">
    {% include 'partials/_search.html' with {'actionUrl': actionUrl, 'placeholder': 'Enter Keyword(s)'} %}
  </div>

  <div class="col-1-2 grid">

    <div class="filter category col-1-2">
      <div class="select-wrap">
        <select name="category" id="category">
          <option value="-1">{{ 'category' | t | capitalize }}</option>
          {% for category in craft.categories.group('ideasCategories').all() %}
            <option value="{{ category.url }}">{{ category.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% set tagEntries = craft.entries.section('ideasEntries').limit(null) %}
    {% set tags = craft.tags.relatedTo(tagEntries).indexBy('title') %}
    <div class="filter tag col-1-2">
      <div class="select-wrap">
        <select name="tag" id="tag">
          <option value="-1">{{ 'tag' | t | capitalize }}</option>
          {% for tag in tags.all() %}
            <option value="{{ siteUrl }}ideas/{{ 'tag' | t }}/{{ tag.slug }}">{{ tag.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>

</div>