{% set queryParams = craft.app.request.queryParams %}
{% set queryString = craft.app.request.queryStringWithoutPath %}
{% set pageUrl = craft.app.request.absoluteUrl|replace({(queryString): '', '?': ''}) %}

{% if craft.app.language == "en-US" %}
  {% set actionUrl = url('ideas/search') %}
{% elseif craft.app.language == "es-US" %}
  {% set actionUrl = url('ideas/buscar') %}
{% endif %}

{% if queryParams.q is defined %}
  {% set placeholder = queryParams.q %}
{% else %}
  {% set placeholder = 'Keyword(s)' %}
{% endif %}

{% if queryParams.type is defined %}
  {% set typeHandle = queryParams.type|split('-') %}
  {% if typeHandle|length > 1 %}
    {% set typeString = [] %}
    {% for word in typeHandle %}
      {% if loop.index != 1 %}
        {% set word = word|capitalize %}
      {% endif %}
      {% set typeString = typeString|merge([word]) %}
    {% endfor %}
    {% set typeHandle = typeString|join %}
  {% endif %}
{% else %}
  {% set typeHandle = ['publication', 'newsUpdates'] %}
{% endif %}

{% set entryIds = craft.entries.section('ideasEntries').type(typeHandle).ids() %}

<div id="filters" class="filter-section ideas-filter accordion active-lg">
  <h3 class="filter-title filter-toggle accordion-toggle">Filter & Sort <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></h3>

  <div class="accordion-content">
    <h3 class="filter-title">Filter By</h3>
    <div class="flex-grid">
      <div class="col-2-3">
        <div class="flex-grid">
          <div class="filter search col-1">
            {% include 'partials/_search.html' with {'actionUrl': actionUrl, 'placeholder': placeholder} %}
          </div>

          {% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).group('ideasCategories').all() %}
          <div class="filter category col-1-2">
            <div class="select-wrap">
              <select name="category" id="category">
                {% if queryParams.category is defined %}
                  {% set allTopics = '?' ~ queryString|replace({('category=' ~ queryParams.category): ''})|trim('&', 'left')|trim('&', 'right') %}
                  {% set allTopics = allTopics == '' or allTopics == '?' ? pageUrl : allTopics %}
                {% else %}
                  {% set allTopics = 'null' %}
                {% endif %}

                <option value="{{ allTopics }}">{{ queryParams.category is defined ? 'all categories'|t|capitalize : 'category'|t|capitalize }}</option>
                {% for category in categories %}
                  <option value="?{{ queryString == '' ? 'category=' ~ category.slug : queryParams.category is defined ? queryString|replace({(queryParams.category): category.slug}) : queryString ~ '&category=' ~ category.slug }}"{{ queryParams.category is defined and category.slug in queryParams.category ? 'selected' : '' }}>{{ category.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {% set tagEntries = craft.entries.section('ideasEntries').type(typeHandle).limit(null) %}
          {% set tags = craft.tags.group('ideasTags').relatedTo(tagEntries).indexBy('title') %}
          <div class="filter tag col-1-2">
            <div class="select-wrap">
              <select name="tag" id="tag" class="notranslate">
                {% if queryParams.tag is defined %}
                  {% set allTags = '?' ~ queryString|replace({('tag=' ~ queryParams.tag): ''})|trim('&', 'left')|trim('&', 'right') %}
                  {% set allTags = allTags == '' or allTags == '?' ? pageUrl : allTags %}
                {% else %}
                  {% set allTags = 'null' %}
                {% endif %}

                <option value="{{ allTags }}">{{ queryParams.tag is defined ? 'all tags'|t|capitalize : 'tag'|t|capitalize }}</option>
                {% for tag in tags.all() %}
                  <option value="?{{ queryString == '' ? 'tag=' ~ tag.slug : queryParams.tag is defined ? queryString|replace({(queryParams.tag): tag.slug}) : queryString ~ '&tag=' ~ tag.slug }}"{{ queryParams.tag is defined and tag.slug in queryParams.tag ? 'selected' : '' }}>{{ tag.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="filter-sort filter col-1">
            <h3 class="filter-title">Sort by</h3>

            {% if queryParams.sort is defined %}
              {% if 'title' in queryParams.sort %}
                {% set titleSortClass = '-active desc' %}
                {% set titleSortLabel = 'Z-A' %}
                {% set titleSortString = queryString|replace({('sort=' ~ queryParams.sort): ''}) %}
                {% set titleSortString = titleSortString == '' ? pageUrl : '?' ~ titleSortString|trim('&', 'left')|trim('&', 'right') %}

                {% set dateSortClass = 'desc' %}
                {% set dateSortLabel = 'Most Recent First' %}
                {% set dateSortString = '?' ~ queryString|replace({(queryParams.sort): 'date_asc'}) %}
              {% elseif 'date' in queryParams.sort %}
                {% set dateSortClass = '-active asc' %}
                {% set dateSortLabel = 'Oldest First' %}
                {% set dateSortString = queryString|replace({('sort=' ~ queryParams.sort): ''}) %}
                {% set dateSortString = dateSortString == '' ? pageUrl : '?' ~ dateSortString|trim('&', 'left')|trim('&', 'right') %}

                {% set titleSortClass = 'asc' %}
                {% set titleSortLabel = 'A-Z' %}
                {% set titleSortString = '?' ~ queryString|replace({(queryParams.sort): 'title_desc'}) %}
              {% endif %}
            {% else %}
              {% set titleSortClass = 'asc' %}
              {% set titleSortLabel = 'A-Z' %}
              {% set titleSortString = queryString == '' ? 'sort=title_desc' : '&sort=title_desc' %}
              {% set titleSortString = '?' ~ queryString ~ titleSortString %}

              {% set dateSortClass = 'desc' %}
              {% set dateSortLabel = 'Most Recent First' %}
              {% set dateSortString = queryString == '' ? 'sort=date_asc' : '&sort=date_asc' %}
              {% set dateSortString = '?' ~ queryString ~ dateSortString %}
            {% endif %}

            <div>
              <a href="{{ dateSortString }}" class="sort-toggle {{ dateSortClass }}">Date ({{ dateSortLabel }})<svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
            </div>

            <div>
              <a href="{{ titleSortString }}" class="sort-toggle {{ titleSortClass }}">Title ({{ titleSortLabel }})<svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
            </div>

            {% if queryParams.featured is defined %}
              {% set featuredClass = ' -active' %}
              {% set featuredString = queryString|replace('featured=true', '') %}
              {% set featuredString = featuredString == '' ? pageUrl : '?' ~ featuredString|trim('&', 'left')|trim('&', 'right') %}
            {% else %}
              {% set featuredClass = '' %}
              {% set featuredString = queryString == '' ? '?featured=true' : '?' ~ queryString ~ '&featured=true' %}
            {% endif %}
            <div>
              <a href="{{ featuredString }}" class="featured-toggle{{featuredClass}}">Featured<svg aria-hidden="true" role="presentation"><use xlink:href="#icon-star"/></svg></a>
            </div>

          </div>
        </div>
      </div>

      <div class="type-container col-1-3">
        <div class="type-filter filter">
          <h3 class="filter-title">Only Show</h3>
          {% if queryParams.type is defined %}

          {% endif %}

          <div><a href="{{ queryParams.type is defined and 'publication' in queryParams.type ? '?' ~ queryString|replace({('type=' ~ queryParams.type): ''})|trim('&', 'left')|trim('&', 'right') : queryParams.type is defined ? '?' ~ queryString|replace({(queryParams.type): 'publication'}) : '?' ~ queryString ~ '&type=publication' }}"{{ queryParams.type is defined and 'publication' in queryParams.type ? ' class="-active"' : '' }}><span class="radio"></span> Research / Publications</a></div>
          <div><a href="{{ queryParams.type is defined and 'news-updates' in queryParams.type ? '?' ~ queryString|replace({('type=' ~ queryParams.type): ''})|trim('&', 'left')|trim('&', 'right') : queryParams.type is defined ? '?' ~ queryString|replace({(queryParams.type): 'news-updates'}) : '?' ~ queryString ~ '&type=news-updates' }}"{{ queryParams.type is defined and 'news-updates' in queryParams.type ? ' class="-active"' : '' }}><span class="radio"></span> News & Updates</a></div>
        </div>
      </div>

    </div>

  </div>

</div>