{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set limit = 9 %}
{% set params = { section: 'ideasEntries', limit: limit} %}

{% set title = "Blog" %}
{% set bodyClass = 'page page-' ~ entry.slug %}

{% block content %}

  {% if not craft.app.request.isAjax %}

    <section class="intro-section with-headline">
      <div class="grid">
        <div class="page-headline">
          <h1>
            {% if craft.app.language != "en-US" and entry.pageHeadline is empty %}
              {% set enDescription = craft.entries.id(entry.id).site("en_us").one().pageHeadline %}
              {{ enDescription }}
            {% else %}
              {{ entry.pageHeadline }}
            {% endif %}
          </h1>
        </div>

        {% include "ideas/_subscribe" %}

      </div>

      {% include "ideas/_filter" %}

    </section>

  {% endif %}

  {% paginate craft.entries(params) as pageInfo, articles %}

    {% if not craft.app.request.isAjax %}
    <div class="article-list">
    {% endif %}

  		{% for article in articles %}
  			{% include "ideas/_article" %}
  		{% endfor %}

    {% if not craft.app.request.isAjax and articles|length >= limit %}
      </div>
      <div class="load-more-section">
        <button id="load-more" class="load-more" data-collection="ideas" data-page="{{ pageInfo.currentPage + 1 }}" data-total-pages="{{ pageInfo.totalPages }}">Load More<span class="icon"><svg class="icon-arrow" role="img"><use xlink:href="#icon-arrow" /></span></button>
      </div>
    {% endif %}

{% endblock %}