// Home page

body.home {
  @include media-lg {
    padding-right: $global-spacing;
  }

  .site-header {
    background: none;
    
    svg {
      fill: $white;
    }
  }
  
  .site-nav {
    color: $white;
  }

  .menu-toggle {
    .lines {
      background: $white;
    }
  }

  .page-header {
    position: relative;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
      content: '';
      height: 100px;
      position: absolute;
      background-image: linear-gradient(180deg, rgba($black,.8), rgba($black,0));

      @include media-md {
        height: 300px;
      }
    }
  
    .page-header-image {
      height: 200px;
      background-size: cover;
      @include media-lg {
        display: none;
      }
    }

    .block {
      min-height: 1px;
      align-self: flex-end;

      p {
        margin-bottom: 0;
      }

      @include media-lg {
        margin-top: #{$global-spacing * 3};
      }
    }

    .scroll-button {
      left: 50%;
      position: absolute;
      bottom: $global-spacing;
      transform: translateX(-40px);
    }
  }

  .user-paths {

    .block {
  
      &::before,
      &::after {
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        z-index: 0;
        width: 100%;
        content: '';
        background: $blue;
        position: absolute;
      }
      &::before {
        opacity: 1;
        will-change: opacity;
        transition: opacity .5s ease-out;
      }

      &:first-of-type {
        &::before,
        &::after {
          background: $gray;
        }
      }

      &:hover {
        &::before {
          opacity: .75;
        }
      }

      .-inner {
        z-index: 1;
        position: relative;

        p {
          margin: 0;
        }

        @include media-lg {
          height: 100%;
          padding-bottom: #{$global-spacing * 2};
        }
      }

      .button {
        margin-top: $global-spacing;

        @include media-lg {
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }

  }

}