// Home page

body.home {

  .site-header {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba($black, 0.14) 0%, rgba($black, 0) 100%);

    svg {
      fill: $white;
    }

    &.-sticky {
      @include sticky-header;
    }
  }

  .site-header:not(.-sticky) .site-nav {
    color: $white;
    &.-active {
      color: $black;
    }
  }

  .menu-toggle:not(.-active) {
    .lines {
      background: $white;
      &::before,
      &::after {
        background: $white;
      }
    }
  }

  .page-header {
    position: relative;

    .page-header-image {
      height: 0;
      background-size: cover;
      padding-bottom: 57.1428571%;
      @include media-lg {
        display: none;
      }
    }

    > .-inner {
      width: 100%;
      position: relative;
    }

    .video-play-container {
      width: 100%;
      bottom: 100%;
      position: absolute;
      padding: 0 #{$vertical-beat * 6} #{$vertical-beat * 3};

      .button {
        width: 100%;
      }
    }

    .block {
      min-height: 1px;
      align-self: flex-end;

      .block-title {
        @include media-md {
          font-size: 52px;
          line-height: 60px;
          letter-spacing: -0.02em;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    .scroll-button {
      left: 50%;
      bottom: 65px;
      position: absolute;
      border-color: $white;
      transform: translateX(-40px);
      svg {
        fill: $white;
      }
    }

    @include media-lg {
      align-items: flex-end;

      .video-play-container {
        right: 0;
        bottom: 0;
        width: auto;
        padding: 0 #{$vertical-beat * 7} #{$vertical-beat * 8} 0;
      }
    }
  }

  // Feature Sections
  .feature-section {
    background-color: $white;

    > div {
      padding: $global-spacing;

      @include media-lg {
        padding: $global-spacing * 2;
      }
    }

    .section-intro {
      @include media-lg {
        padding-top: $global-spacing * 4;
      }
    }

    .features {
      margin: 0;
      padding: 0;
      list-style: none;

      .feature {
        + .feature {
          margin-top: $vertical-beat * 3;
        }

        .feature-icon {
          margin-left: $vertical-beat;
          margin-bottom: $vertical-beat * 3;

          img {
            max-width: $global-spacing;
          }
        }

        .feature-text {
          h5 {
            margin: 0;
          }
        }

        @include media-md {
          display: flex;
          + .feature {
            margin-top: $vertical-beat * 4;
          }

          .feature-icon {
            margin: 0;
          }

          .feature-text {
            margin-left: $global-spacing;
          }
        }
      }
    }
  }

  // How We Work Section
  .how-we-work {
    .block {
      background-color: $blue;
    }
  }

  .stats-section {
    .stat {
      text-align: center;
      padding: $global-spacing;
      background-color: $gray-light;
      @include media-lg {
        padding: $global-spacing * 2;

        &:first-of-type {
          border-right: 1px solid $white;
        }

        &.offset-bottom {
          z-index: 2;
        }
      }
    }

    p {
      margin: 0;
    }

    .stat-figure {
      color: $blue;
      @include headline-numeral;
    }
  }

  .user-paths {
    position: relative;

    .block {
      background-color: $orange;

      &:first-of-type {
        background-color: $green;
      }

      &.offset-bottom {
        @include media-lg {
          padding-top: $global-spacing * 4;
        }
      }

      &:hover {
        &::before {
          opacity: .75;
        }
      }

      .-inner {
        z-index: 1;
        position: relative;

        .block-title a {
          text-decoration: none;
        }

        @include media-lg {
          height: 100%;
        }
      }

      .button {
        margin-top: $global-spacing;

        @include media-lg {
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }

  // Partners Section
  .partners-section {
    background-color: $offwhite;
    padding: $global-spacing $global-spacing #{($global-spacing * 2) - 20px};
    @include media-lg {
      padding: $global-spacing * 2;
    }

    .partners {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      list-style: none;
      position: relative;
      align-items: center;
      justify-content: space-around;
      width: calc(100% + $global-spacing);
      margin: $global-spacing 0 0 -#{$global-spacing / 2};

      .partner {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 #{$global-spacing / 2};

        .partner-image {
          img {
            max-height: 100px;
            max-width: 120px;
          }
        }
      }

      @include media-lg {
        width: 100%;
        margin-left: 0;
        flex-wrap: nowrap;
        &::before,
        &::after {
          top: 0;
          bottom: 0;
          content: '';
          position: absolute;
          width: $global-spacing;
        }
        &::before {
          left: 0;
          background-image: linear-gradient(to right, rgba($offwhite,1), rgba($offwhite,0));
        }
        &::after {
          right: 0;
          background-image: linear-gradient(to left, rgba($offwhite,1), rgba($offwhite,0));
        }

        .partner {
          padding: 0;
          margin: 0 33px;
          flex-basis: auto;
        }
      }
    }
  }

  .featured-news {
    padding-bottom: 70px;
    background-color: $white;

    .featured-news-carousel {
      width: 100%;
      border-bottom: 1px solid $offwhite;

      .flickity-prev-next-button {
        left: auto;
        padding: 0;
        width: auto;
        color: $blue;
        height: 70px;
        bottom: -70px;
        display: flex;
        transform: none;

        svg  {
          path {
            fill: $blue;
          }
        }

        &.previous {
          left: 20px;
        }
        &.next {
          right: 20px;
        }

        @include media-lg {
          &.previous {
            left: auto;
            right: 306px;
          }
          &.next {
            right: #{($global-spacing * 2) - 10px};
          }
        }
      }
    }

    .block {
      width: 100%;
      background-color: $white;
      outline: 1px solid $offwhite;

      > .-inner {
        height: 100%;
      }

      .block-title a {
        &:hover,
        &:focus {
          color: $blue;
        }
      }

      .post-image-container {
        position: relative;
        top: -$global-spacing;
        left: -$global-spacing;
        width: calc(100% + #{$global-spacing * 2});
        padding-bottom: calc(38.3333% + #{$global-spacing});

        &.logo-image {
          height: 0;
          .post-image {
            top: 50%;
            max-height: 75px;
            position: absolute;
            left: $global-spacing;
            transform: translateY(-50%);
          }
        }

        &:not(.logo-image) {
          height: 0;
          &::before {
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            opacity: .4;
            content: '';
            position: absolute;
            background-color: #AAABAC;
          }

          .post-image {
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            background-size: cover;
            background-position: center;
            &::before,
            &::after {
              top: 0;
              left: 0;
              bottom: 0;
              width: 100%;
              content: '';
              position: absolute;
            }
            &::before {
              mix-blend-mode: color;
              background-color: $tan;
            }
            &::after {
              opacity: .2;
              background-color: #676A6D;
              mix-blend-mode: color-burn;
            }
          }
        }
      }
    }

    @include media-md {
      .block {
        .post-image-container {
          top: -$global-spacing * 2;
          left: -$global-spacing * 2;
          width: calc(100% + #{$global-spacing * 4});
          padding-bottom: calc(38.3333% + #{$global-spacing * 2});

          &.logo-image {
            .post-image {
              left: $global-spacing * 2;
            }
          }
        }
      }

      .block-title {
        font: normal 42px/40px $font-bold;
      }
    }

    @include media-lg {
      .block {
        width: 50%;
        min-height: 100%;
      }
    }
  }
}