// Common Page Styles

.page-header {
  background-size: cover;

  @include media-lg {
    min-height: calc(100vh - #{$global-spacing});
  }
}

body.page {
  .site-logo {
    .mark {
      .c1 {
        fill: #faa11c;
      }
      .c2 {
        fill: #f7cc0d;
      }
      .c3 {
        fill: #f7bf12;
      }
    }
    .words {
      fill: $black;
    }
  }

  section {
    padding: $global-spacing;

    @include media-lg {
      padding: #{$global-spacing * 2};
    }
  }

  .intro-section {
    background-color: $white;
    padding: #{$global-spacing * 2} $global-spacing $global-spacing;

    @include media-md {
      padding: #{$global-spacing * 5} #{$global-spacing * 2} #{$global-spacing * 2};
    }

    .page-description {

      h2 {
        @include headline-one;
        margin: 0;
      }

      @include media-md {
        padding-bottom: 85px;

        h2 {
          min-width: 500px;
          max-width: 750px;
        }
      }
    }

    .intro-sections {
      padding-top: $global-spacing;

      > div + div {
        margin-top: $global-spacing;
      }

      h4 {
        @include headline-two;
        margin: 0 0 30px;
      }

      .intro-section-content {
        max-width: 600px;
        p:first-of-type {
          margin-top: 0;
        }
      }

      @include media-md {
        padding-top: 85px;
      }

      @include media-lg {
        > div + div {
          margin-top: 0;
        }
      }
    }
  }
}

// General Page Template
body.general-page-template {
  .site-main {
    background-color: $offwhite;
  }
}

// Sub-page template
body.sub-page-template {
  .site-main {
    background-color: $offwhite;
  }

  // Entry Nav
  .entry-nav {
    @include media-md {
      ul {
        li {
          .inline-link {
            position: relative;

            .icon {
              position: relative;
              &::after {
                top: 9px;
              }
            }
          }
        }
      }
    }
  }
}