// Common Page Styles

.page-header {
  background-size: cover;

  @include media-lg {
    padding-top: 150px;
    height: calc(100vh - #{$global-spacing});
  }
}

body.page {
  .site-logo {
    .mark {
      fill: $yellow;
    }
    .words {
      fill: $black;
    }
  }

  section {
    padding: $global-spacing;

    @include media-lg {
      padding: #{$global-spacing * 2};
    }
  }

  .intro-section {
    padding-top: #{$global-spacing * 2};

    @include media-md {
      padding-top: #{$global-spacing * 5};
    }

    .page-description {
      margin: 0;
      @include headline-one;
      @include media-md {
        min-width: 500px;
        max-width: 1100px;
        width: #{$col * 14};
      }
    }

    .intro-sections {
      margin-top: $global-spacing;

      h4 {
        color: $yellow;
        @extend .headline-two;
        -webkit-font-smoothing: antialiased;
      }

      .intro-section-content {
        max-width: 600px;
        p:first-of-type {
          margin-top: 0;
        }
      }
    }

  }
}

// Page back button: left/right
.page-back {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
  display: none;
  position: fixed;
  overflow: hidden;
  background: $white;
  padding-top: 262px;
  will-change: width;
  text-decoration: none;
  width: $global-spacing;
  transition: width .2s ease-out;
  @include media-md {
    display: block;
  }

  .icon {
    width: 50px;
    height: 10px;
    will-change: transform;
    transform: translateX(-40%);
    transition: transform .2s ease-out;
  }

  span {
    left: 50%;
    opacity: 1;
    line-height: 1;
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    @extend .headline-descriptor;
    transform-origin: bottom left;
    will-change: opacity, transform;
    transform: rotate(-90deg) translate(-100%, 50%);
    transition: transform .2s ease-out, opacity .2s ease-out;
  }

  &:hover {
    width: #{$global-spacing * 2};

    .icon {
      transform: translateX(0);
    }

    span {
      transform: rotate(-90deg) translate(-100%, 0);
    }
  }

  &.-clicked {
    width: 100%;

    span {
      opacity: 0;
    }
  }
}