// User Path Pages (Families/Employers)

body.page-user-path {
  .site-header {
    background: none;

    .site-logo {    
      .mark,
      .words {
        fill: $white;
      }
    }
  }
  
  .site-nav {
    a {
      color: $white;
    }
  }

  .menu-toggle {
    .lines {
      background: $white;
    }
  }

  .page-section {
    position: relative;

    .page-section-content {
      width: 100%;
    }
  }
}

// Families/Familias
body.page-families,
body.page-familias {

  .page-section {
    @include media-lg {

      &:nth-of-type(even) {
        .image-block,
        .page-section-image-carousel {
          order: 1;
        }
      }
    }
  }
}

// Employers
body.page-employers,
body.page-empleyadores {

  .page-section {
    @include media-lg {

      &:nth-of-type(odd) {
        .image-block,
        .page-section-image-carousel {
          order: 1;
        }
      }
    }
  }
}

// Section advance button
.section-advance {
  left: 50%;
  z-index: 1;
  display: none;
  position: absolute;
  bottom: $global-spacing;
  transform: translate(-40px);

  @include media-lg {
    display: block;
  }
}