// Who We Are

body.who-we-are {

  .intro-section {
    background: $offwhite;
  }
  
  .operating-principles {
    background: $yellow;

    .headline-rule span {
      background: $yellow;
    }

    .principles {
      margin-top: #{$vertical-beat * 6};
      @include media-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -#{$global-spacing / 2};
        width: calc(100% + #{$global-spacing});
      }

      .principle {
        text-align: center;
        position: relative;
        margin-bottom: #{$vertical-beat * 8};

        .principle-icon {
          img {
            max-width: 100px;
          }
        }

        h4 {
          font-size: 14px;
          @extend .headline-descriptor;
          margin: #{$global-spacing / 2} 0;
        }

        .principle-content {
          p:first-of-type {
            margin-top: 0;
          }
        }

        @include media-sm {
          max-width: 50%;
          flex-basis: 50%;
          padding: 0 #{$global-spacing / 2};
        }

        @include media-lg {
          max-width: 33.3333%;
          flex-basis: 33.3333%;
        }
      }
    }

    .section-links {
      margin-top: #{$vertical-beat * 8};
      
      h5 {
        @extend .headline-descriptor;
      }

      ul {
        padding: 0;
        list-style: none;
        margin: #{$global-spacing / 2} 0 0;
        li {
          line-height: 3;
        }
      }

      .inline-link {
        &:hover {
          .icon svg {
            fill: $black;
          }
        }
        .icon {
          &::after {
            background: $black;
          }
        }
      }
    }
  }

}