{% set entryIds = craft.entries.section('resourcesEntries').ids() %}
{% set bundles = craft.categories.relatedTo({ sourceElement: entryIds }).group('resourceBundle').all() %}

{% if appInformation.appInfoVisible or bundles|length %}
  <div class="tools-and-bundles flex-grid">
    {% if appInformation.appInfoVisible %}
    <div class="tool col-1-3">
      <h4>Tool</h4>
      <h3>Download <br>Our App</h3>
      <p><a href="#" class="inline-link borderless"><span>Free educational resources on your mobile device</span></a></p>
    </div>
    {% endif %}

    {% if bundles|length %}
      {% for bundle in bundles %}
        <div class="bundle col-1-3">
          <div class="bundle-content">
            <h4>Resource Bundle</h4>
            <h3>{{ bundle.title }}</h3>
            <p><a href="{{ bundle.url }}" class="inline-link borderless"><span>{{ bundle.shortDescription }}</span></a></p>
          </div>
          {% if bundle.bannerImage|length %}
        {% set bundleImage = bundle.bannerImage.one().getUrl() %}
        {% set bundleImageTransform = craft.imager.transformImage(bundleImage, { effects: { grayscale: true } }) %}
            <div class="bundle-image" style="background-image:url({{ bundleImageTransform.url }})"></div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}