// Careers Page

body.page-careers {
  .site-main {
    background-color: $offwhite;
  }

  .positions {
    background-color: $yellow;

    .headline-rule span {
      background-color: $yellow;
    }

    .section-links li {
      margin-bottom: $global-spacing * 2;

      h4 {
        @include headline-two;
        margin: 0 0 0.5em;
      }
    }

    @include media-md {
      .section-links li {
        max-width: 50%;
        margin-bottom: $global-spacing * 3;
      }
    }
  }
}