// Home page

body.home {

  .site-header {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba($black, 0.4) 0%, rgba($black, 0) 100%);

    svg {
      fill: $white;
    }

    &.-sticky {
      @include sticky-header;
    }
  }

  .site-header:not(.-sticky) .site-nav {
    color: $white;
    &.-active {
      color: $black;
    }
  }

  .menu-toggle:not(.-active) {
    .lines {
      background: $white;
      &::before,
      &::after {
        background: $white;
      }
    }
  }

  .page-header {
    position: relative;

    .page-header-image {
      height: 0;
      background-size: cover;
      padding-bottom: 57.1428571%;
      @include media-lg {
        display: none;
      }
    }

    > .-inner {
      z-index: 1;
      position: relative;
    }

    .background-video {
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      iframe {
        top: 0;
        left: 50%;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        position: absolute;
        min-width: 177.77vh;
        transform: translateX(-50%);
      }
    }

    > .-inner {
      width: 100%;
      position: relative;
    }

    .video-play-container {
      width: 100%;
      bottom: 100%;
      position: absolute;
      padding: 0 #{$vertical-beat * 6} #{$vertical-beat * 3};

      .button {
        width: 100%;
      }
    }

    .block {
      min-height: 1px;
      align-self: flex-end;
      background-color: $yellow;

      .block-title {
        margin: 0 0 12px;

        @include media-md {
          font-size: 52px;
          line-height: 60px;
          letter-spacing: -0.02em;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    .scroll-button {
      left: 50%;
      bottom: 65px;
      position: absolute;
      border-color: $white;
      transform: translateX(-40px);
      svg {
        fill: $white;
      }
    }

    @include media-lg {
      align-items: flex-end;

      .video-play-container {
        right: 0;
        bottom: 0;
        width: auto;
        padding: 0 #{$vertical-beat * 7} #{$vertical-beat * 8} 0;

        .button {
          min-width: 300px;
        }
      }
    }
  }

  // What We Do Section
  .what-we-do {
    .award-showcase {
      display: flex;
      margin-top: $global-spacing;

      img {
        max-width: 100px;
        vertical-align: top;
        display: inline-block;
        margin-right: $global-spacing;
      }

      .award-text {
        p {
          @include headline-inline;
        }
      }

      @include media-md {

      }
    }
  }

  // How We Work Section
  .how-we-work {
    .block {
      background-color: $blue;
    }
  }

  .stats-section {
    .stat {
      text-align: center;
      padding: $global-spacing;
      background-color: $offwhite;
      @include media-lg {
        padding: $global-spacing * 2;

        &:first-of-type {
          border-right: 1px solid $white;
        }

        &.offset-bottom {
          z-index: 2;
        }
      }
    }

    p {
      margin: 0;
    }

    .stat-figure {
      color: $blue;
      @include headline-numeral;
    }
  }

  .user-paths {
    position: relative;

    .block {
      background-color: $orange;

      &:first-of-type {
        background-color: $green;
      }

      &.offset-bottom {
        @include media-lg {
          padding-top: $global-spacing * 4;
        }
      }

      &:hover {
        &::before {
          opacity: .75;
        }
      }

      .-inner {
        z-index: 1;
        position: relative;

        .block-title a {
          text-decoration: none;
        }

        @include media-lg {
          height: 100%;
        }
      }

      .button {
        margin-top: $global-spacing;

        @include media-lg {
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }

  // Partners Section
  .partners-section {
    background-color: $offwhite;
    padding: $global-spacing $global-spacing #{($global-spacing * 2) - 20px};
    @include media-lg {
      padding: $global-spacing * 2;
    }

    .partners {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      list-style: none;
      position: relative;
      align-items: center;
      justify-content: space-around;
      width: calc(100% + #{$global-spacing});
      margin: $global-spacing 0 0 -#{$global-spacing / 2};

      .partner {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 #{$global-spacing / 2};

        .partner-image {
          img {
            max-height: 100px;
            max-width: 120px;
          }
        }
      }

      @include media-lg {
        width: 100%;
        margin-left: 0;
        flex-wrap: nowrap;
        &::before,
        &::after {
          top: 0;
          bottom: 0;
          content: '';
          position: absolute;
          width: $global-spacing;
        }
        &::before {
          left: 0;
          background-image: linear-gradient(to right, rgba($offwhite,1), rgba($offwhite,0));
        }
        &::after {
          right: 0;
          background-image: linear-gradient(to left, rgba($offwhite,1), rgba($offwhite,0));
        }

        .partner {
          padding: 0;
          margin: 0 33px;
          flex-basis: auto;
        }
      }
    }
  }
}