// How We Help Page

body.how-we-help {

  .intro-section {
    background: $offwhite;
  }

  .our-navigators {
    padding-bottom: 0;
    background: $offwhite;

    .headline-rule span {
      background: $offwhite;
    }

    .navigator-section {
      h4 {
        color: $yellow-text;
        @extend .headline-two;
        -webkit-font-smoothing: antialiased;
      }
    }

    .navigators-link {
      text-align: center;
      margin-top: $global-spacing;

      @include media-md {
        margin-top: #{$global-spacing * 2};
      }
    }

    .navigators-image {
      text-align: center;
      margin-top: $global-spacing;
      margin-left: -#{$global-spacing * 2/3};
      width: calc(100% + #{$global-spacing * 4/3});

      @include media-md {
        width: 100%;
        margin-left: 0;
      }

      img {
        max-width: 100%;
        vertical-align: top;
      }
    }
  }

  .our-approach {
    background: $yellow;

    .headline-rule span {
      background: $yellow;
    }

    .steps {
      @include media-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -#{$global-spacing / 2};
        width: calc(100% + #{$global-spacing});
      }
      @include media-lg {
        display: block;
      }

      .step {
        text-align: center;
        position: relative;
        margin-top: $global-spacing;

        // Arrows between steps
        .icon-arrow-dotted {
          top: 45px;
          left: 100%;
          width: 51px;
          height: 10px;
          fill: $white;
          display: none;
          position: absolute;
          transform: translateX(-50%);

          @include media-lg {
            display: block;
          }
        }

        .step-number {
          color: $white;
          @include headline-numeral;
          -webkit-font-smoothing: antialiased;
        }

        h4 {
          font-size: 14px;
          @extend .headline-descriptor;
          margin: #{$global-spacing / 2} 0;
        }

        .step-content {
          p:first-of-type {
            margin-top: 0;
          }
        }

        @include media-sm {
          max-width: 50%;
          flex-basis: 50%;
          padding: 0 #{$global-spacing / 2};
        }

      }
    }
  }

  .our-knowledge {
    background: $offwhite;

    .headline-rule span {
      background: $offwhite;
    }

    .knowledge-section {
      h4 {
        color: $yellow-text;
        @extend .headline-two;
        -webkit-font-smoothing: antialiased;
      }
    }

    .knowledge-links {
      margin-top: #{$global-spacing * 2};
      h5 {
        @extend .headline-descriptor;
      }
    }
  }
}

// Families + Students Page
body.families-students-template {
  .page-banner {
    .banner-headline {
      color: $orange;
    }
  }

  .two-column-section.content-block {

    .sub-section {
      h4 {
        color: $black;
      }
    }
  }
}

// Families + Students Page
body.employers-template {
  .page-banner {
    .banner-headline {
      color: $green;
    }
  }

  .two-column-section.content-block {

    .sub-section {
      h4 {
        color: $black;
      }
    }
  }
}