// Blog Page

body.page-ideas {
  .posts-section {
    h3 {
      @include headline-rule($black, $yellow)
    }
  }

  .blog-posts {
    > div {
      padding: $global-spacing;

      h3 {
        @include headline-two;
        margin: 0 0 $global-spacing;
      }
    }

    article {
      + article {
        margin-top: $global-spacing;
      }
    }

    .recent-posts {
      > .cta {
        margin-top: $global-spacing * 2;
      }
    }

    .updates-post {
      h4 {
        @include headline-five;
        margin-top: 0;
      }

      .post-meta {
        &,
        a {
          color: $gray-one;
        }

        > p {
          margin-bottom: 0;
        }

        > * {
          margin-top: $vertical-beat;
        }

        svg {
          width: 15px;
          height: 15px;
          fill: $black;
          margin-right: 10px;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
          }
        }
      }
    }

    .in-the-news-post {
      img {
        max-width: 100%;
        max-height: 70px;
      }

      .post-title {
        @include headline-five;
      }

      .cta {
        a {
          @include headline-four;
          color: $blue;

          svg {
            fill: $blue;
            width: 10px;
            height: 10px;
            margin-left: 15px;
          }

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

    @include media-lg {
      display: flex;

      > div {
        max-width: 50%;
        flex-basis: 50%;
        padding: $global-spacing * 4;

        h3 {
          margin-bottom: $global-spacing * 2;
        }
      }

      article {
        + article {
          margin-top: $global-spacing * 2;
        }
      }
    }
  }
}

.article-list {
  article {

    .article-image {
      height: 200px;
      position: relative;
      background-size: cover;
      background-position: top center;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        pointer-events: none;
        background: rgba($black,.05);
      }

      .icon {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      iframe, object, embed {
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      // Ones with videos
      &.has-video {
        iframe {
          display: none;
        }

        .icon {
          top: 50%;
          left: 50%;
          z-index: 2;
          width: 50px;
          height: 50px;
          stroke: $white;
          cursor: pointer;
          stroke-width: .5;
          position: absolute;
          transition: stroke .2s ease-out;
          transform: translate(-25px, -25px);
          &:hover {
            stroke: $brand-primary;
          }
        }

        .image {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
          z-index: 1;
          position: absolute;
          background-size: cover;
          background-position: top center;
          transition: opacity .35s ease-out;
        }

        &.-active {
          iframe {
            display: block;
          }

          .image {
            opacity: 0;
            pointer-events: none;
          }

          .icon {
            display: none;
          }
        }
      }

      @include media-lg {
        height: auto;
      }
    }

    .article-content {
      position: relative;
      padding: #{$global-spacing * 1.5} $global-spacing;

      @include media-md {
        padding: #{$global-spacing * 4};
      }
    }

    .article-category {
      @include headline-four;
    }

    .article-title {
      color: $yellow-text;
      @extend .headline-two;
      margin-top: $vertical-beat;
      a {
        text-decoration: none;
        span {
          border-bottom: 2px solid rgba($brand-primary,0);
          transition: border-color .2s ease-out;
        }
        &:hover {
          span {
            border-color: rgba($brand-primary,1);
          }
        }
      }
    }

    .article-excerpt {
      margin: #{$vertical-beat * 3} 0 $global-spacing;
    }

    @include media-md {
      background: $offwhite;

      &:nth-of-type(odd) {
        .article-image {
          order: 1;
        }
        .article-content {
          order: 0;
          background: $white;
        }
      }
    }
  }
}

.article-date {
  top: 0;
  height: 20px;
  color: $black;
  background: $yellow;
  position: absolute;
  padding: 6px 0 2px 8px;
  right: $global-spacing;
  transform-origin: top right;
  @extend .headline-descriptor;
  transform: rotate(90deg) translateX(100%);
  &::before,
  &::after {
    width: 8px;
    left: 100%;
    content: '';
    height: 10px;
    position: absolute;
  }
  &::before {
    top: 0;;
    border-left: 8px solid $yellow;
    border-top: 10px solid $yellow;
    border-right: 8px solid transparent;
    border-bottom: 10px solid transparent;
  }
  &::after {
    bottom: 0;
    border-left: 8px solid $yellow;
    border-bottom: 10px solid $yellow;
    border-top: 10px solid transparent;
    border-right: 8px solid transparent;
  }

  @include media-md {
    right: #{$global-spacing * 4};
  }
}