// Common Page Styles

.page-header {
  background-size: cover;

  @include media-lg {
    min-height: calc(100vh - #{$global-spacing});
  }
}

// Feature Sections
.feature-section {
  background-color: $white;

  > div {
    padding: $global-spacing;

    @include media-lg {
      padding: $global-spacing * 2;
    }
  }

  .section-intro {
    @include media-lg {
      padding-top: $global-spacing * 4;
    }
  }

  .features {
    margin: 0;
    padding: 0;
    list-style: none;

    .feature {
      + .feature {
        margin-top: $vertical-beat * 3;
      }

      .feature-icon {
        margin-left: $vertical-beat;
        margin-bottom: $vertical-beat * 3;

        img {
          max-width: $global-spacing;
        }
      }

      .feature-text {
        .feature-label {
          @include headline-four;
          margin: 0;
        }
      }

      @include media-md {
        display: flex;
        + .feature {
          margin-top: $vertical-beat * 4;
        }

        .feature-icon {
          margin: 0;
        }

        .feature-text {
          margin-left: $global-spacing;
        }
      }
    }
  }
}

body.page {
  .site-logo {
    .mark {
      .c1 {
        fill: #faa11c;
      }
      .c2 {
        fill: #f7cc0d;
      }
      .c3 {
        fill: #f7bf12;
      }
    }
    .words {
      fill: $black;
    }
  }

  // Page Banner
  .page-banner {
    padding: 0;
    margin-top: $header-height-small;

    .banner-image {
      height: 0;
      padding-bottom: 50%;
      background-size: cover;
      background-position: center bottom;
    }

    .banner-content {
      background-color: $white;
      padding: $global-spacing $global-spacing 0;

      .banner-headline {
        @include headline-one;
        margin: 0;
      }

      .banner-text {
        margin-bottom: 0;
      }
    }

    @include media-md {
      .banner-content {
        padding: $global-spacing * 2;
      }
    }

    @include media-lg {
      display: flex;
      min-height: 600px;
      position: relative;
      align-items: flex-end;
      margin-top: $header-height;

      .banner-image {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        padding-bottom: 0;
        position: absolute;
      }

      .banner-content {
        z-index: 1;
        max-width: 50%;
        padding-bottom: 0;
        margin-top: 240px;
        position: relative;
      }
    }
  }

  section {
    padding: $global-spacing;

    @include media-lg {
      padding: #{$global-spacing * 2};
    }
  }

  .intro-section {
    background-color: $white;
    padding: $global-spacing;

    @include media-md {
      padding: #{$global-spacing * 2};
    }

    &.with-headline {
      padding-top: #{$global-spacing * 2};
      @include media-md {
        padding-top: #{$global-spacing * 5};
      }
    }

    .page-headline {
      h1, h2 {
        @include headline-one;
        margin: 0;
      }

      @include media-md {
        padding-bottom: 85px;

        h1, h2 {
          min-width: 500px;
          max-width: 750px;
        }
      }
    }

    .intro-sections {
      padding-top: $global-spacing;

      > div + div {
        margin-top: $global-spacing;
      }

      h4 {
        @include headline-two;
        margin: 0 0 30px;
      }

      .intro-section-content {
        max-width: 600px;
        p:first-of-type {
          margin-top: 0;
        }
      }

      @include media-md {
        padding-top: 85px;
      }

      @include media-lg {
        > div + div {
          margin-top: 0;
        }
      }
    }
  }
}

// General Page Template
body.general-page-template {
  .site-main {
    background-color: $offwhite;
  }
}