// Payment

body.page-payment {
  .intro-section,
  .main-content {
    background: $offwhite;
  }

  .main-content {
    padding-top: 0;
  }

  .entry-body {
    margin-top: $global-spacing;
    @include media-md {
      max-width: 450px;
      margin-top: #{$global-spacing * 2};
    }
  }
}

.payment-table {
  margin: 0;
  padding: 0;
  list-style: none;
  @include media-lg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$global-spacing / 2};
  }

  .payment-option {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid $black;
    padding: $global-spacing;
    margin-top: $global-spacing;
    transition: background .2s ease-out, border-color .2s ease-out;
    &:hover {
      background: $brand-primary;
      border-color: rgba($black, 0);
    }
    &.-loading {
      pointer-events: none;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        position: absolute;
        background-color: rgba($offwhite,.9);
      }
    }
    &:first-of-type {
      margin-top: 0;
    }

    // loading spinner
    .loading {
      z-index: 2;
    }

    @include media-lg {
      max-width: calc(50% - #{$global-spacing});
      flex-basis: calc(50% - #{$global-spacing});
      margin: 0 #{$global-spacing / 2} $global-spacing;
    }

    @include media-xl {
      max-width: calc(33.3333% - #{$global-spacing});
      flex-basis: calc(33.3333% - #{$global-spacing});
    }

    h3 {
      margin-top: 0;
      text-align: center;
      @extend .headline-two;
    }

    p {
      text-align: center;
    }

    &.no-yearly-option {
      .payment-link button {
        text-align: center;
        padding: #{$vertical-beat * 3} 0;
        line-height: #{$vertical-beat * 3};
      }
    }
  }

  .payment-link {
    border-bottom: 1px solid $black;
    &:first-of-type {
      border-top: 1px solid $black;
    }

    button {
      width: 100%;
      height: auto;
      border: none;
      display: block;
      text-align: left;
      background: none;
      position: relative;
      text-decoration: none;
      @extend .headline-descriptor;
      transition: color .2s ease-out;
      padding: #{$vertical-beat * 2} $global-spacing #{$vertical-beat * 2} 0;
      &:hover,
      &:focus,
      &:active {
        color: $white;
        outline: none;
        appearance: none;
        .icon {
          fill: $white;
        }
      }
    }

    span {
      @extend .headline-two;
    }

    .icon {
      top: 50%;
      right: 0;
      width: 50px;
      fill: $black;
      position: absolute;
      transform: translateY(-50%);
      transition: fill .2s ease-out;
    }

    // The primary choice, with a larger numeral
    .-primary {
      span {
        @include headline-one;
      }
    }
  }

  .user-content {
    ul {
      padding-left: 25px;
    }
  }
  .checkout-feedback {
    h3 {
      margin-top: $global-spacing;
    }
  }
}