// People Pages / Sections

body.people-page-template {
  .site-main {
    background-color: $offwhite;
  }

  .intro-section {
    background-color: $white;
  }

  // Entry Nav
  .entry-nav {
    @include media-md {
      ul {
        li {
          .inline-link {
            position: relative;

            .icon {
              position: relative;
              &::after {
                top: 9px;
              }
            }
          }
        }
      }
    }
  }
}

.people-section {
  background: $offwhite;

  .headline-rule span {
    background: $offwhite;
  }

  .people-grid {
    padding-top: #{$global-spacing * 2};
    @include media-lg {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .person {
    @include clearfix;
    margin-bottom: #{$global-spacing * 4};

    @include media-lg {
      max-width: 50%;
      flex-basis: 50%;
    }

    .person-image {
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      width: #{$global-spacing * 6};
      height: #{$global-spacing * 6};
      margin-bottom: #{$vertical-beat * 3};

      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        background: $yellow;
      }

      img {
        z-index: 1;
        opacity: .75;
        max-width: 100%;
        border-radius: 50%;
        position: relative;
        vertical-align: top;
      }

      @include media-xl {
        float: left;
      }
    }

    .person-content {
      @include media-xl {
        float: right;
        width: calc(100% - #{$global-spacing * 8});
      }
    }

    h4 {
      @include headline-two;
      color: $yellow-text;
      margin: 0 0 $vertical-beat;
    }

    h5 {
      @include headline-four;
      margin: 0 0 #{$vertical-beat * 3};
      max-width: #{$global-spacing * 10};
    }

    .person-description {
      max-width: 600px;

      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

// Partners Page
body.page-our-partners,
body.page-socios-empresariales {
  .people-section {
    .person {

      .person-image {
        height: 70px;
        border-radius: 0;
        width: #{$global-spacing * 4};

        &::after {
          display: none;
        }

        img {
          opacity: 1;
          border-radius: 0;
          max-height: 70px;
        }
      }

      .person-content {
        @include media-xl {
          width: calc(100% - #{$global-spacing * 6});
        }
      }

      h4 {
        color: $black;
        @extend .headline-descriptor;
        font-size: 14px;
        margin-bottom: $vertical-beat;
      }

      h5 {
        color: $yellow;
      }

      .person-description {
        max-width: 400px;
      }
    }
  }
}

// Mix Blend Mode Support
html.backgroundblendmode {
  body.people-page-template {
    .people-section {
      .person {
        .person-image {
          img {
            mix-blend-mode: multiply;
          }
        }
      }
    }
  }
}