// Single Post

// Entry
body.single-post {

  // Shared Styles Among Single Posts
  .entry {
    background: $gray-four;
    margin-top: $header-height-small;

    @include media-lg {
      margin-top: $header-height;
    }

    .entry-body {
      background: $offwhite;
    }

    .featured-image {
      height: 250px;
      position: relative;
      background-size: cover;
      background-position: center center;

      .icon {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        &:hover {
          stroke: $brand-primary;
        }
      }

      iframe, object, embed {
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      // Ones with videos
      &.has-video {
        iframe {
          display: none;
        }

        .icon {
          top: 50%;
          left: 50%;
          z-index: 2;
          width: 50px;
          height: 50px;
          stroke: $white;
          cursor: pointer;
          stroke-width: .5;
          position: absolute;
          transition: stroke .2s ease-out;
          transform: translate(-25px, -25px);
          &:hover {
            stroke: $brand-primary;
          }
        }

        .image {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
          z-index: 1;
          position: absolute;
          background-size: cover;
          background-position: top center;
          transition: opacity .35s ease-out;
        }

        &.-active {
          iframe {
            display: block;
          }

          .image {
            opacity: 0;
            pointer-events: none;
          }

          .icon {
            display: none;
          }
        }
      }

      @include media-lg {
        height: 500px;
      }
    }

    .entry-header {
      position: relative;

      .type-date {
        @include headline-four;
        margin-top: 0;
      }

      .entry-title {
        margin-bottom: $global-spacing;
        @include media-md {
          margin-bottom: $global-spacing * 2;
        }
      }

      h1 {
        margin: 0;
        color: $black;
        margin-top: $vertical-beat;
        margin-bottom: $global-spacing;
      }

      h2 {
        @include headline-three;
        margin: 0;
      }
    }

    .entry-meta {
      h5 {
        @include headline-four;
        margin: 0 0 $vertical-beat;
      }

      @include media-lg {
        position: relative;
        align-items: flex-start;
      }
    }

    .entry-author {
      @include clearfix;
      margin-bottom: #{$vertical-beat * 3};

      @include media-lg {
        margin-bottom: 0;
      }

      .authors {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;

          + li {
            margin-top: 12px;
          }
        }

        a {
          color: $blue;
        }
      }

      .author-image {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        margin-right: $vertical-beat;
        border: 1px solid $yellow-text;

        img {
          max-width: 100%;
          vertical-align: top;
        }
      }
    }

    .entry-cats-tags,
    .age-groups {
      margin-top: 40px;

      div + div {
        margin-top: $vertical-beat * 4;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
        }
      }

      a {
        color: $blue;
        transition: color .2s ease-out;
        &:hover {
          color: $gray-two;
        }
      }

      @include media-lg {
        margin-top: 0;
      }
    }

    // Age Groups
    .age-groups {
      ul {
        li {
          display: block;
          color: $gray-one;
        }
      }

      @include media-lg {
        padding-left: $global-spacing;
      }
    }

    // Sharing links
    .share-section {
      @include shareLinksFlex;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        li {
          display: inline-block;
          + li {
            margin-left: $vertical-beat;
          }
        }
      }

      a {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        border: 1px solid $black;
        transition: background-color .2s ease-out;
        &:hover,
        &:focus {
          background-color: $yellow;
        }
      }

      .icon {
        width: 15px;
        height: 15px;
        margin: auto;
        &.icon-twitter {
          width: 18px;
          height: 15px;
        }
      }

      @include media-lg {
        > div + div {
          margin-left: 0;
          padding-left: 0;
          margin-top: 20px;
          &::before {
            display: none;
          }
        }
      }

      @media screen and (min-width: 1100px) {
        @include shareLinksFlex;
      }
    }
  }

  // Content Styles
  .entry-content {
    position: relative;

    .content-column {
      z-index: 1;
      padding-top: 30px;
      position: relative;
      padding-bottom: #{$global-spacing * 4};

      .content-block:first-child .-inner > *:first-child {
        margin-top: 0;
      }

      @include media-lg {
        display: flex;
        min-height: 500px;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: #{$global-spacing * 3};
      }
    }

    .sidebar-column {
      position: relative;

      @include media-lg {
        min-height: 500px;
      }
    }

    .general-content-block .block-content,
    .legacy-content-container {
      h1, h2, h3, h4, h5, h6 {
        color: $black;
        margin: #{$vertical-beat * 4} 0 #{$vertical-beat * 3};
      }

      h1 {
        @extend .headline-two;

        + h2 {
          margin-top: -30px;
        }
      }

      h2 {
        @extend .headline-three;
        color: $gray-one;
        @include media-md {
          font-size: 22px;
          line-height: 30px;
        }
      }

      h3, h4, h5, h6 {
        @extend .headline-inline;
        margin: 0;
        > span {
          display: inline-block;
          background-color: $white;
        }

        + p {
          margin-top: 6px;
        }
      }

      p {
        margin: #{$vertical-beat * 3} 0;

        + figcaption {
          margin-top: -#{$vertical-beat * 2};
        }
      }

      strong {
        font-weight: normal;
        font-family: $font-bold;
      }

      a:not(.inline-link) {
        color: $blue;
        transition: color .2s ease-out;
        &:hover {
          color: $yellow-text;
        }
      }

      sup.footnote {
        top: auto;
        color: $blue;
        font-size: 100%;
        position: relative;
        display: inline-block;
        &::before {
          content: '[';
        }
        &::after {
          content: ']';
        }
        a {
          padding: 0 1px;
        }
      }

      figcaption {
        font-size: 10px;
      }

      blockquote:not(.aside-blockquote) {
        @extend .body-copy;
        padding: 15px 20px;
        border-radius: 20px;
        border: 1px solid $yellow;
        margin: #{$vertical-beat * 3} 0;
      }
    }

    // Legacy Content Styles
    .legacy-content-container {
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 $global-spacing $global-spacing;

      @include media-lg {
        padding: 0 #{$global-spacing * 4} #{$global-spacing * 4};
      }
    }
  }

  // Sidebar newsletter signup
  .sidebar-newsletter {
    padding: $global-spacing;
    background-color: $gray-four;

    h5 {
      @include headline-four;
      margin: 0 0 30px;
      color: $gray-one;
    }

    .button {
      width: auto;
    }

    @include media-lg {
      left: 0;
      bottom: 0;
      position: absolute;
      padding: $global-spacing * 2;
    }
  }

  .resource-downloads {
    max-width: 1000px;
    padding: 0 $global-spacing;
    margin: #{$global-spacing * 2} 0;

    .resource-download {
      display: flex;
      border-radius: 10px;
      padding: $global-spacing;
      border: 1px solid $gray-three;
      + .resource-download {
        margin-top: 30px;
      }

      .button {
        svg {
          margin-left: $global-spacing * 2;
        }
      }
    }

    .download-thumb {
      display: none;
    }

    h3 {
      @include headline-five;
      margin: 0 0 $vertical-beat;
      a {
        color: $blue;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    .resource-info {
      p {
        margin-top: 0;
      }
    }

    @include media-md {
      padding: 30px;

      .resource-info {
        flex: 1;
        margin-left: 30px;
      }

      .download-thumb {
        width: 120px;
        display: block;
        margin-bottom: 0;
        flex-basis: 120px;
        img {
          max-width: 100%;
          border-radius: 50%;
          vertical-align: top;
        }
      }
    }

    @include media-lg {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  // Endnotes
  .endnotes {
    padding-bottom: 30px;

    h2 {
      margin: 30px 0;
    }

    ol {
      padding: 0;
      width: 100%;
      display: table;
      list-style-type: none;

      li {
        display: table-row;
        > * {
          display: table-cell;
        }

        + li {
          > * {
            padding-top: 30px;
          }
        }
      }
    }

    a {
      color: $blue;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .index {
      width: 35px;
    }
  }

  // Post Nav
  .section-links {
    padding: 0 $global-spacing;

    @include media-lg {
      padding: 0 #{$global-spacing * 4};
    }
  }

  .sidebar {
    padding: $global-spacing;

    @include media-lg {
      padding: #{$global-spacing * 4};
    }

    h4 {
      @extend .headline-descriptor;
      margin-bottom: #{$vertical-beat * 3};
    }
  }

  // Resource Post
  &.resources-post {
    .related-posts {
      background-color: $green;
      h4 {
        color: $white;
      }
      article {
        border-left-color: $green;
      }
    }
    .general-content-block .content-aside {
      color: $white;
      .aside-tag,
      .accordion-toggle,
      .-inner {
        color: $white;
        background-color: $green;
      }
      svg {
        fill: $white;
      }
      &.family-narrative {
        @include media-lg {
          a[data-readmore-toggle] {
            background-image: linear-gradient(to left, rgba($green, 1), rgba($green, 1) 80%, rgba($green, 0));
          }
        }
      }
    }
  }

  // Basic Post Template
  &.basic-post {
    .entry-header {
      .-inner {
        padding: $global-spacing;
      }

      @include media-lg {
        .-inner {
          padding: 80px #{$global-spacing * 4};
        }
      }
    }

    .share-section {
      margin-top: $vertical-beat * 4;

      @include media-lg {
        top: 100%;
        z-index: 2;
        display: block;
        margin-top: 105px;
        position: absolute;
        right: -$global-spacing * 4;
        width: calc(33.3333% + 67px);
        padding: 0 $global-spacing 0 #{$global-spacing * 2};
      }
      @media screen and (min-width: 1100px) {
        @include shareLinksFlex;
      }
    }
  }
}
