// Who We Are

body.who-we-are {

  .intro-section {
    background: $white;
  }

  .operating-principles {
    background: $yellow;
    padding-bottom: $global-spacing * 2;

    @include media-md {
      padding-bottom: 220px;
    }

    .headline-rule span {
      background: $yellow;
    }

    .principles {
      margin-top: #{$vertical-beat * 6};
      @include media-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -#{$global-spacing / 2};
        width: calc(100% + #{$global-spacing});
      }

      .principle {
        text-align: left;
        position: relative;
        margin-bottom: #{$vertical-beat * 8};

        .principle-icon {
          img {
            max-width: 100px;
            margin-left: -25px;
          }
        }

        h4 {
          @include headline-four;
          margin: #{$global-spacing / 2} 0;
        }

        .principle-content {
          p:first-of-type {
            margin-top: 0;
          }
        }

        @include media-sm {
          max-width: 50%;
          flex-basis: 50%;
          padding: 0 #{$global-spacing / 2};

          .principle-icon {
            img {
              margin-left: 0;
            }
          }
        }

        @include media-lg {
          max-width: 33.3333%;
          flex-basis: 33.3333%;
        }
      }
    }

    .who-we-are-nav {
      margin-top: 20px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: $vertical-beat;
        }

        @include media-md {
          li {
            display: inline-block;
            margin-right: $vertical-beat;
          }
        }
      }
    }
  }
}