<footer class="site-footer no-snap" role="contentinfo">
  <div class="grid spaced">
    <div class="col-1-2 newsletter">
      <h5>Newsletter Signup</h5>
      {% include 'partials/_newsletter_form.html' %}
    </div>
    <div class="links-section col-1-2">
      <div class="contact-info">
        <h5>Contact Us</h5>
        {% if generalSiteInformation.contactEmailAddress %}
          <p class="email-address"><a href="mailto:{{ generalSiteInformation.contactEmailAddress }}">{{ generalSiteInformation.contactEmailAddress }}</a></p>
        {% endif %}
        {% if generalSiteInformation.phoneNumber and generalSiteInformation.phoneNumberDisplay %}
          <p class="phone-number"><a href="tel:{{ generalSiteInformation.phoneNumber }}">{{ generalSiteInformation.phoneNumberDisplay }}</a></p>
        {% endif %}
        {% if generalSiteInformation.physicalAddress %}
        <p class="address">
          <span>{{ generalSiteInformation.physicalAddress.address.first().streetLine1 }}</span>
          {% if generalSiteInformation.physicalAddress.address.first().streetLine2 %}
          <span>{{ generalSiteInformation.physicalAddress.address.first().streetLine2 }}</span>
          {% endif %}
          <span>{{ generalSiteInformation.physicalAddress.address.first().cityStateZip }}</span>
        </p>
        {% endif %}
      </div>
      <div class="connect">
        {% if appInformation.appInfoVisible %}
          {% if appInformation.appAppleStoreLink or appInformation.appAndroidStoreLink %}
          <div>  
            <h5>Get the app</h5>
            <ul class="social app-links">
              {% if appInformation.appAppleStoreLink %}
              <li><a href="{{ appInformation.appAppleStoreLink }}"><svg class="icon icon-apple" role="img" title="Apple App Store"><use xlink:href="#icon-apple" /></svg></a></li>
              {% endif %}
              {% if appInformation.appAndroidStoreLink %}
              <li><a href="{{ appInformation.appAndroidStoreLink }}"><svg class="icon icon-android" role="img" title="Android App Store"><use xlink:href="#icon-android" /></svg></a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        {% endif %}
        <div>
          <h5>Stay connected</h5>
          <ul class="social">
            {% if socialMediaLinks.facebookUrl %}
            <li><a href="{{ socialMediaLinks.facebookUrl }}" target="_blank"><svg class="icon icon-facebook" role="img" title="Facebook"><use xlink:href="#icon-facebook" /></svg></a></li>
            {% endif %}
            {% if socialMediaLinks.twitterUrl %}
            <li><a href="{{ socialMediaLinks.twitterUrl }}" target="_blank"><svg class="icon icon-twitter" role="img" title="Twitter"><use xlink:href="#icon-twitter" /></svg></a></li>
            {% endif %}
            {% if socialMediaLinks.linkedinUrl %}
            <li><a href="{{ socialMediaLinks.linkedinUrl }}" target="_blank"><svg class="icon icon-linkedin" role="img" title="LinkedIn"><use xlink:href="#icon-linkedin" /></svg></a></li>
            {% endif %}
            {% if socialMediaLinks.mediumUrl %}
            <li><a href="{{ socialMediaLinks.mediumUrl }}" target="_blank"><svg class="icon icon-medium" role="img" title="Medium"><use xlink:href="#icon-medium" /></svg></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="post-footer grid">
    <div class="col-1-2 -left">
      <p class="copyright">© {{ "now"|date("Y") }} EdNavigator. All rights reserved.</p>
    </div>

    {% set pages = craft.entries.section('secondaryPages') %}
    {% if pages|length %}
      <div class="col-1-2 -right">
        <nav class="footer-nav">
          <ul>
          {% for page in pages %} 
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
    {% endif %}
  </div>
  
</footer>