<footer class="site-footer" role="contentinfo">
  <div class="grid">
    <div class="col-1-2 newsletter">
      <h5>Newsletter Signup</h5>
      {% include 'partials/_newsletter_form.html' %}
    </div>
    <div class="links-section col-1-2">
      <div class="contact-info">
        <h5>Contact Us</h5>
        <a href="mailto:info@ednavigator.com">info@ednavigator.com</a>
        <p class="address">
          <span>643 Magazine St</span>
          <span>Suit 206</span>
          <span>New Orleans, LA 70130</span>
        </p>
      </div>
      <div class="connect">
        <div>  
          <h5>Get the app</h5>
          <ul class="social app-links">
            <li><a href="#"><svg class="icon icon-apple" role="img" title="Apple App Store"><use xlink:href="#icon-apple" /></svg></a></li>
            <li><a href="#"><svg class="icon icon-android" role="img" title="Android App Store"><use xlink:href="#icon-android" /></svg></a></li>
          </ul>
        </div>
        <div>
          <h5>Stay connected</h5>
          <ul class="social">
            <li><a href="https://www.facebook.com/ednavigate" target="_blank"><svg class="icon icon-facebook" role="img" title="Facebook"><use xlink:href="#icon-facebook" /></svg></a></li>
            <li><a href="https://twitter.com/ednavigate" target="_blank"><svg class="icon icon-twitter" role="img" title="Twitter"><use xlink:href="#icon-twitter" /></svg></a></li>
            <li><a href="https://www.linkedin.com/company/ednavigator" target="_blank"><svg class="icon icon-linkedin" role="img" title="LinkedIn"><use xlink:href="#icon-linkedin" /></svg></a></li>
            <li><a href="https://medium.com/@ednavigate" target="_blank"><svg class="icon icon-medium" role="img" title="Medium"><use xlink:href="#icon-medium" /></svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>