{% set googleTranslateString = '/#googtrans(en|es)' %}

{% if entry is defined %}
  <ul class="locale">
    {% block locale__switch %}

      {% if entry.slug == 'blog' or entry.slug == 'resources' or entry.getType() == 'blogEntry' or entry.getType() == 'resources' %}
        <li><a href="{{ entry.getUrl() }}">English</a></li>
        <span>/</span>
        <li><a href="{{ entry.getUrl() ~ googleTranslateString }}">Español</a></li>      
      {% else %}

        {% set siteLocales = craft.i18n.getSiteLocales() %}
        {% for locale in siteLocales %}
        
          {% if locale.id == "en_us" %}
            {% set localeName = "English" %}
          {% elseif locale.id == "es_us" %}
            {% set localeName = "Español" %}
          {% endif %}

          {% set localeEntry = craft.entries.id(entry.id).locale(locale.id).first %}

          {% if locale == craft.locale %}
              <li class="-active"><a href="{{ localeEntry.getUrl() }}">{{ localeName }}</a></li>
            {% else %}
              <li><a href="{{ localeEntry.getUrl() }}">{{ localeName }}</a></li>
          {% endif %}

          {% if not loop.last %}
            <span>/</span> 
          {% endif %}

        {% endfor %}

      {% endif %}

    {% endblock %}
  </ul>
{% endif %}