
{% if entry is defined %}
  <ul class="locale">
    {% block locale__switch %}

        {% set siteLocales = craft.i18n.getSiteLocales() %}
        {% for locale in siteLocales %}

          {% if locale.id == "en_us" %}
            {% set localeName = "English" %}
          {% elseif locale.id == "es_us" %}
            {% set localeName = "Español" %}
          {% endif %}

          {% set localeEntry = craft.entries.id(entry.id).locale(locale.id).first %}

          {% if locale == craft.locale %}
              <li class="current-locale"><a href="{{ localeEntry.getUrl() }}">{{ localeName }}</a></li>
            {% else %}
              <li><a href="{{ localeEntry.getUrl() }}">{{ localeName }}</a></li>
          {% endif %}

          {% if not loop.last %}
            <span>/</span>
          {% endif %}

        {% endfor %}


    {% endblock %}
  </ul>
{% endif %}