{% set entryIds = craft.entries.section('blogEntries').ids() %}
{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).group('blogCetegories').find() %}
{% if entry.locale == 'en_us' %}
  {% set actionUrl = url('blog/search') %}
{% elseif entry.locale == 'es_us' %}
  {% set actionUrl = url('blog/buscar') %}
{% endif %}

<div class="filter-section grid">

  <div class="search col-1-2">
    <form action="{{ actionUrl }}" class="search-filter">

      <div class="search-wrap">
        <input type="search" name="q" placeholder="{{'Search Posts'|t}}">
        <button type="submit" class="svg-inject" data-icon="icon-search"><span class="visually-hidden">{{"Search Posts"|t}}</span></button>
      </div>

    </form>

  </div>

  <div class="col-1-2 grid">

    <div class="filter category col-1-2">
      <div class="select-wrap">
        <select name="category" id="category">
          <option value="-1">{{ 'category' | t | capitalize }}</option>
          {% for category in craft.categories.group('blogCategories') %}
            <option value="{{ category.url }}">{{ category.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% set tagEntries = craft.entries.section('blogEntries').limit(null) %}
    {% set tags = craft.tags.relatedTo(tagEntries).indexBy('title') %}
    <div class="filter tag col-1-2">
      <div class="select-wrap">
        <select name="tag" id="tag">
          <option value="-1">{{ 'tag' | t | capitalize }}</option>
          {% for tag in tags %}
            <option value="{{ siteUrl }}blog/{{ 'tag' | t }}/{{ tag.slug }}">{{ tag.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>

</div>