<div class="filter-section grid">

  <div class="search col-1-2">
    <form action="{{ url('blog/search') }}" class="search-filter">

      <div class="search-wrap">          
        <input type="search" name="q" placeholder="{{'Search Posts'|t}}">
        <button type="submit" class="svg-inject" data-icon="icon-search"><span class="visually-hidden">{{"Search Posts"|t}}</span></button>
      </div>

    </form>

  </div>

  <div class="col-1-2 grid">

    <div class="filter category col-1-2">
      <div class="select-wrap">
        <select name="category" id="category">
          <option value="-1">Category</option>
          {% for category in craft.categories.group('blogCategories') %}
            <option value="{{ category.url }}">{{ category.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% set tagEntries = craft.entries.section('blogEntries').limit(null) %}
    {% set tags = craft.tags.relatedTo(tagEntries).indexBy('title') %}
    <div class="filter tag col-1-2">
      <div class="select-wrap">
        <select name="tag" id="tag">
          <option value="-1">Tag</option>
          {% for tag in tags %}
            <option value="{{ url('blog/tag/'~tag.slug) }}">{{ tag.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>

</div>