{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set tag = craft.tags.slug(tag).first() %}

{% set title = "Tag: "~tag.title %}
{% set bodyClass = 'page sidebar-right page-blog page-tag' %}

{% block content %}

  {% include "partials/_page-sidebar" with { 'parent' : craft.entries.section('blog').first()} %}

  <section class="intro-section">
    <div class="grid">
      <h2 class="page-description">
        Posts tagged with “{{ tag.title }}”
      </h2>

      {% include "blog/_subscribe" %}
    </div>

    {% include "blog/_filter" %}

  </section>

  {% set articles = craft.entries.relatedTo(tag).order('title') %}

  <div class="article-list">
    
    {% if articles | length %}
      {% for article in articles %}
        {% include "blog/_article" %}
      {% endfor %}
    {% else %}
      <p>No entries could be found with that tag.</p>
    {% endif %}

  </div>

{% endblock %}