{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set limit = 9 %}
{% set params = { section: 'blogEntries', limit: limit} %}

{% set title = "Blog" %}
{% set bodyClass = 'page page-' ~ entry.slug %}

{% block content %}

  {% if not craft.request.isAjax %}

    <section class="intro-section">
      <div class="grid">
        <h2 class="page-description">
          {% if craft.locale != "en_us" and entry.pageDescription is empty %}
            {% set enDescription = craft.entries.id(entry.id).locale("en_us").first().pageDescription %}
            {{ enDescription }}
          {% else %}
            {{ entry.pageDescription }}
          {% endif %}
        </h2>

        {% include "blog/_subscribe" %}

      </div>

      {% include "blog/_filter" %}

    </section>

  {% endif %}

  {% paginate craft.entries(params) as pageInfo, articles %}

    {% if not craft.request.isAjax %}
    <div class="article-list">
    {% endif %}

  		{% for article in articles %}
  			{% include "blog/_article" %}
  		{% endfor %}

    {% if not craft.request.isAjax and articles|length >= limit %}
      </div>
      <div class="load-more-section">
        <button id="load-more" class="load-more" data-collection="blog" data-page="{{ pageInfo.currentPage + 1 }}" data-total-pages="{{ pageInfo.totalPages }}">Load More<span class="icon"><svg class="icon-arrow" role="img"><use xlink:href="#icon-arrow" /></span></button>
      </div>
    {% endif %}

  {% endpaginate %}

{% endblock %}