{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set limit = 1 %}
{% set params = { section: 'blogEntries', limit: limit} %}

{% set title = "Blog" %}
{% set bodyClass = 'page page-' ~ entry.slug %}

{% block content %}

  {% if not craft.request.isAjax %}

    <section class="intro-section">
      <div class="grid">
        <h2 class="page-description">
          {{ entry.pageDescription }}
        </h2>

        <div class="subscribe">
          <h4>Subscribe</h4>
          <p><a href="#" class="inline-link"><span>Get our blog posts delivered straight to your inbox.</span></a></p>
        </div>
      </div>

      <div class="filter-section grid">
        <form action="{{ url('search/results') }}">

          <div class="search col-1-2">

            <div class="search-wrap">          
              <input type="search" name="q" placeholder="Search Posts">
              <button type="submit" class="svg-inject" data-icon="icon-search"><span class="visually-hidden">Search Posts</span></button>
            </div>

          </div>

          <div class="col-1-2 grid">

            <div class="filter category col-1-2">
              <div class="select-wrap">
                <select name="category" id="category">
                  <option value="null">Category</option>
                  {% for category in craft.categories.group('blogCategories') %}
                    <option value="{{ category.title }}">{{ category.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {% set entries = craft.entries.section('blogEntries').limit(null) %}
            <div class="filter tag col-1-2">
              <div class="select-wrap">
                <select name="tag" id="tag">
                  <option value="null">Tag</option>
                  {% for tag in craft.tags.relatedTo(entries) %}
                    <option value="{{ tag.title }}">{{ tag.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>

        </form>
      </div>

    </section>

  {% endif %}

  {% paginate craft.entries(params) as pageInfo, entries %}

    {% if not craft.request.isAjax %}
    <div class="article-list">
    {% endif %}
      
  		{% for entry in entries %}
  			{% include "blog/_article" %}
  		{% endfor %}

    {% if not craft.request.isAjax %}
      </div>
      <div class="load-more-section">
        <button id="load-more" class="load-more" data-collection="blog" data-page="{{ pageInfo.currentPage + 1 }}" data-total-pages="{{ pageInfo.totalPages }}">Load More<span class="icon"><svg class="icon-arrow" role="img"><use xlink:href="#icon-arrow" /></span></button>
      </div>
    {% endif %}
    
  {% endpaginate %}

{% endblock %}