{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single page page-families page-user-path' %}
{% set bodyId = 'page-families' %}

{% block content %}
  {% for entry in craft.entries.section('families') %}
    {% for block in entry.pathPageSections %}
      <div class="page-section grid block-grid">
        <div class="image-block col-1-2" style="background-image: url({{ block.sectionImage.last().getUrl('hero') }})"></div>
        <div class="block col-1-2 {{ block.sectionColor }}">
          <h4 class="block-descriptor">For Families & Students</h4>
          <h2 class="block-title">{{ block.sectionTitle|nl2br }}</h2>
          <p>{{ block.sectionText }}</p>
          {% if block.sectionLinks %}
            <div class="inline-links-container">{{ block.sectionLinks }}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}