{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'home' %}

{% block content %}
<div class="page-header snap-section grid block-grid align-right" style="background-image:url({{ entry.bannerImage.last().getUrl('hero') }});">

  <div class="page-header-image" style="background-image:url({{ entry.bannerImage.last().getUrl('hero') }});"></div>
  <div class="block col-1-2 background-gray-light">
    <h2 class="block-title">{{ entry.pageDescription }}</h2>
    <h3>{{ entry.body }}</h3>
  </div>

</div>

<div id="pageContent" class="user-paths snap-section grid block-grid">

  {% for userPath in entry.userPaths %}
    
    <div class="block col-1-2" style="background-image:url({{ userPath.pathImage.last().getUrl('hero') }});">
      
      <div class="-inner">      
        <h2 class="block-title">{{ userPath.pathTitle|nl2br }}</h2>
        <p><a href="{{ userPath.pathPage.last().url }}" class="inline-link"><span>{{ userPath.pathLinkText|nl2br }}</span></a></p>
        <a href="{{ userPath.pathPage.last().url }}" class="button">Learn more</a>
      </div>

    </div>

  {% endfor %}

</div>
{% endblock %}