{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'home' %}

{% block content %}

{% if entry.bannerVideo %}
  <div id="video-modal">
    <div class="video-container">
      <button class="video-modal-close"><span class="sr-only">Close Video</span> <svg class="icon-close" aria-hidden="true" role="presentation"><use xlink:href="#icon-close"/></svg></button>
      <div id="video" class="banner-video" data-url="{{ entry.bannerVideo }}"></div>
    </div>
  </div>
{% endif %}

<div class="page-header snap-section grid block-grid" style="background-image:url({{ entry.bannerImage.last().getUrl('hero') }});">
  <div class="page-header-image" style="background-image:url({{ entry.bannerImage.last().getUrl('hero') }});"></div>

  <div class="-inner">
    {% if entry.bannerVideo %}
      <div class="video-play-container">
        <button class="banner-video-play button play with-icon -blue">Watch the video <svg class="icon-play" aria-hidden="true" role="presentation"><use xlink:href="#icon-play"/></svg></button>
      </div>
    {% endif %}

    <div class="block col-1-2 background-yellow offset-bottom">
      <h2 class="block-title">{{ entry.pageDescription }}</h2>
      <h3>{{ entry.body }}</h3>
    </div>
  </div>
</div>

{% if entry.whatWeDoHeadline %}
  <div id="what-we-do" class="what-we-do feature-section grid section">
    <div class="section-intro col-1-2">
      <h4 class="section-title">What We Do</h4>
      <h5 class="section-headline">{{ entry.whatWeDoHeadline }}</h5>
      {% if entry.whatWeDoText %}
        <div class="section-description">
          {{ entry.whatWeDoText }}
        </div>
      {% endif %}
    </div>

    <div class="col-1-2">
      {% if entry.whatWeDoFeatures %}
        <ul class="features">
          {% for feature in entry.whatWeDoFeatures %}
            <li class="feature">
              <div class="feature-icon">
                <img src="{{ feature.featureIcon.first().getUrl() }}">
              </div>
              <div class="feature-text">
                <h5>{{ feature.featureTitle }}</h5>
                <p>{{ feature.featureDescription }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if entry.howWeWorkSection %}
  {% set howWeWork = entry.howWeWorkSection.first() %}
  <div id="how-we-work" class="how-we-work section grid block-grid">
    <div class="block col-1-2 offset-bottom">
      <div class="-inner">
        <div>
          <h4 class="block-descriptor">How We Work</h4>
          <h2 class="block-title">{{ howWeWork.headline|nl2br }}</h2>
          {% if howWeWork.description %}
            <p>{{ howWeWork.description }}</p>
          {% endif %}
        </div>
        {% if howWeWork.linkEntry %}
          <p class="block-cta"><a href="{{ howWeWork.linkEntry.first().url }}" class="inline-link"><span>{{ howWeWork.linkLabel|nl2br }}</span></a></p>
        {% endif %}
      </div>
    </div>
    <div class="image-block col-1-2" style="background-image:url({{ howWeWork.image.first().getUrl('hero') }});"></div>
  </div>
{% endif %}

{% if entry.sustainableResultsHeadline %}
  <div id="what-we-do" class="what-we-do feature-section grid section">
    <div class="section-intro col-1-2">
      <h4 class="section-title">Sustainable Results</h4>
      <h5 class="section-headline">{{ entry.sustainableResultsHeadline }}</h5>
      {% if entry.sustainableResultsText %}
        <div class="section-description">
          {{ entry.sustainableResultsText }}
        </div>
      {% endif %}
    </div>

    <div class="col-1-2">
      {% if entry.sustainableResultsFeatures %}
        <ul class="features">
          {% for feature in entry.sustainableResultsFeatures %}
            <li class="feature">
              <div class="feature-icon">
                <img src="{{ feature.featureIcon.first().getUrl() }}">
              </div>
              <div class="feature-text">
                <h5>{{ feature.featureTitle }}</h5>
                <p>{{ feature.featureDescription }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if entry.stats %}
  <div id="stats" class="stats-section section flex-grid">
    {% for stat in entry.stats %}
      <div class="stat col-1-2{{ loop.last ? ' offset-bottom' }}">
        <p class="stat-figure">{{ stat.statFigure }}</p>
        <p class="stat-description">{{ stat.statDescription }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="user-paths grid block-grid" id="user-paths">
  {% for userPath in entry.userPaths %}
    <div class="block col-1-2{{ loop.last ? ' offset-bottom' }}">
      <div class="-inner">
        <div>
          <h3 class="block-descriptor">{{ userPath.pathTitle }}</h3>
          <h2 class="block-title"><a href="{{ userPath.pathPage.last().url }}">{{ userPath.pathHeadline|nl2br }}</a></h2>
          {% if userPath.pathDescription %}
            <p>{{ userPath.pathDescription }}</p>
          {% endif %}
        </div>
        {% if userPath.pathLinkText and userPath.pathPage|length %}
          <p class="block-cta"><a href="{{ userPath.pathPage.last().url }}" class="inline-link"><span>{{ userPath.pathLinkText|nl2br }}</span></a></p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% set partnersEntry = craft.entries.section('whoWeAre').slug('our-partners').first() %}
{% set partners = partnersEntry.people.person.order('RAND()').limit(6) %}

{% if partners|length %}
  <div id="partners" class="partners-section section">
    <h4 class="section-title">Some of our partners</h4>
    <ul class="partners">
      {% for person in partners %}
        {% set image = person.personImage.first().getUrl() %}
        {% set transformedImage = craft.imager.transformImage(image, { effects: { colorize: '#a3b0b2' } }) %}
        {% if person.personImage|length %}
          <li class="partner">
            <div class="partner-image">
              <img src="{{ transformedImage.getUrl() }}" alt="{{ person.personName }}">
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% include 'partials/_featured-news.html' with { carousel: true } %}

{% endblock %}