{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page sub-page-template page-' ~ entry.slug %}
{% set bodyId = entry.slug %}

{% block content %}

  {% include 'partials/_banner-page-header.html' %}

  <section class="form-section">
    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <form method="post" action="" id="get-started" class="get-started-form" accept-charset="UTF-8">
      {{ getCsrfInput() }}
      <input type="hidden" name="action" value="contactForm/sendMessage">

      <div class="form-group input-wrap required">
        <label for="fromName" class="sr-only">Full Name</label>
        <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" placeholder="Full Name" class="required" required>
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        <input type="hidden" id="messageFrom" name="message[From]" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
      </div>

      <div class="form-group grid spaced">
        <div class="input-wrap required col-1-2">
          <label for="fromEmail" class="sr-only">Email Address</label>
          <input id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" placeholder="Email Address" class="required" required>
          {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>
        <div class="input-wrap col-1-2">
          <label for="phone" class="sr-only">Phone Number</label>
          <input type="tel" value="" name="message[Phone]" id="phone" placeholder="Phone Number">
        </div>
      </div>

      <div class="form-group grid spaced">
        <div class="input-wrap col-1-2">
          <label for="organization" class="sr-only">Organization Name</label>
          <input id="organization" name="message[Organization]" type="text" placeholder="Organization Name">
        </div>
        <div class="input-wrap col-1-2">
          <label for="location" class="sr-only">Location</label>
          <input type="text" name="message[Location]" id="location" placeholder="Location">
        </div>
      </div>

      <div class="form-group input-wrap required">
        <label for="message" class="sr-only">Please leave your message</label>
        <textarea name="message[body]" id="message" class="required" rows="4" placeholder="Please Leave Your Message" required>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
      </div>

      <input id="honeyhoneyhoney" name="honeyhoneyhoney" type="text">

      <div class="form-group submit-container">
        <input type="submit" value="Get Started" class="button submit -blue">
      </div>

    </form>
  </section>

  {% set individualMembershipEntry = craft.entries.section('getStarted').slug('individual-membership').first() %}
  <section id="individual-memberships" class="individual-memberships section grid">
    <div class="-inner col-1-2">
      <h3 class="section-headline">Explore Individual Memberships</h3>
      {% if entry.individualMembershipsText %}
        <div class="section-text">
          {{ entry.individualMembershipsText }}
        </div>
        <p class="section-cta"><a href="{{ individualMembershipEntry.url }}" class="inline-link"><span>Individual Memberships</span></a></p>
      {% endif %}
    </div>
  </section>

  {% include 'partials/_featured-news.html' %}

{% endblock %}