{% set bannerImage = article.resourcesBannerImage.first() %}
{% if article.postDate.year == "now"|date("Y") %}
  {% set entryDate = article.postDate.format('M d') %}
{% else %}
  {% set entryDate = article.postDate.format('m/d/y') %}
{% endif %}

{% set postType = article.resourcePostType.first() %}

{% if postType.slug == "video" %}
  {% set linkText = "Watch Video" %}
{% elseif postType.slug == "download" %}
  {% set linkText = "Download Resource" %}
{% else %}
  {% set linkText = "Read More" %}
{% endif %}

<article class="resource-article flex-grid {{ postType.slug }}">
  {% if article.videoId|length %}
    <div class="article-image has-video col-1-2">
      <svg class="play icon icon-arrow-stroke" role="img"><use xlink:href="#icon-arrow-stroke" /></svg>
      <div class="image" style="background-image:url({{ bannerImage.getUrl('hero') }});"></div>
      <iframe id="yt-{{ article.id }}" class="youtube-video" width="100%" src="https://www.youtube.com/embed/{{ article.videoId }}?enablejsapi=1&modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  {% else %}
    <div class="article-image col-1-2" style="background-image:url({{ bannerImage.getUrl('hero') }});"></div>
  {% endif %}

  <div class="article-content col-1-2">
    <h3 class="article-date">{{ entryDate }}</h3>
    <h4 class="article-category">{{ postType }}</h4>
    <h1 class="article-title"><a href="{{ article.url }}"><span>{{ article.title }}</span></a></h1>
    <div class="article-excerpt user-content">
      {{ article.excerpt }}
    </div>
    <p><a href="{{ article.url }}" class="inline-link"><span>{{ linkText }}</span></a></p>
  </div>
</article>