{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set limit = null %}
{% set params = { limit: limit, relatedTo: category } %}

{% set title = "Resource Bundle: "~category.title %}
{% set bodyClass = 'page page-resources page-resource-bundle' %}

{% block content %}

  <section class="intro-section">
    <h2 class="page-description">
      Resource Bundle:<br> {{ category.title }}
    </h2>

    {% if category.longDescription %}
      <h3>{{ category.longDescription }}</h3>
    {% elseif category.shortDescription %}
      <h3>{{ category.shortDescription }}</h3>
    {% else %}
    {% endif %}
  </section>

  {% include "resources/_filter" %}

  {% set articles = craft.entries(params) %}

  <div class="article-list">

    {% for article in articles %}
      {% include "resources/_article" %}
    {% endfor %}

  </div>

{% endblock %}