{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% set bodyClass = 'page sidebar-right single-post' %}

{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% if entry.postDate.year == "now"|date("Y") %}
  {% set entryDate = entry.postDate.format('M d') %}
{% else %}
  {% set entryDate = entry.postDate.format('m/d/y') %}
{% endif %}

{% set excerpt = entry.excerpt|raw %}
{% set bannerImage = entry.resourcesBannerImage.last() %}

{% if entry.locale != 'en_us' %}
  {% set localizedEntry = craft.entries.id(entry.id).locale('en_us') %}
{% endif %}

{% block content %}

  <article class="entry grid">

    <div class="entry-body col-2-3">
      {% if entry.videoId|length %}
        <div class="featured-image has-video">
          <svg class="play icon icon-arrow-stroke" role="img"><use xlink:href="#icon-arrow-stroke" /></svg>
          <div class="image" style="background-image:url({{ bannerImage.getUrl('hero') }});"></div>
          <iframe id="yt-{{ entry.id }}" class="youtube-video" width="100%" src="https://www.youtube.com/embed/{{ entry.videoId }}?enablejsapi=1&modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      {% else %}
        <div class="featured-image" style="background-image:url({{ bannerImage.getUrl('hero') }});"></div>
      {% endif %}

      <header class="entry-header">
        <h3 class="article-date">{{ entryDate }}</h3>
        <p class="category">{{ entry.resourcePostType.first() }}</p>

        {% if entry.locale != 'en_us' %}
          {% if localizedEntry[0].title == entry.title %}
            <h1>{{ entry.title }}</h1>
          {% else %}
            <h1 class="notranslate">{{ entry.title }}</h1>
          {% endif %}
        {% else %}
            <h1>{{ entry.title }}</h1>
        {% endif %}

        <div class="entry-meta grid">
          <div class="entry-author col-1-2">
            {% if entry.author.photoUrl %}
            <div class="author-image">
              <img src="{{ entry.author.photoUrl }}" alt="{{ entry.author.name }}">
            </div>
            {% endif %}
            <h5 class="author-content">
              <span>Author:</span>
              {{ entry.author.name }}
            </h5>
          </div>

          <div class="entry-cats-tags col-1-2">
            <div>
              <h5>Topic:</h5>
              <ul>
                {% for topic in entry.resourceTopic %}
                  <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
                {% endfor %}
              </ul>
            </div>

            {% if entry.resourceLocations|length %}
            <div>
              <h5>Locations:</h5>
              <ul>
                {% for location in entry.resourceLocations %}
                  <li><a href="{{ url('resources/location/'~location.slug) }}">{{ location.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>

        </div>


        {# <%= render partial: '/shared/edit_bug', :locals => { :obj => news_post, :edit_path => refinery.edit_news_posts_admin_news_post_path(news_post) }%> #}
      </header>

      <div class="entry-content user-content">
        {% if entry.locale != 'en_us' %}
          {% if localizedEntry[0].body == entry.body %}
            {{ entry.body }}
          {% else %}
            <div class="notranslate">
              {{ entry.body }}
            </div>
          {% endif %}
        {% else %}
          {{ entry.body }}
        {% endif %}

        {% include 'partials/_resources-downloads.html' %}
      </div>

      <div class="share-section">
        <h6>Share:</h6>
        <ul>
          <li><a class="share" href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}"><span class="visually-hidden">facebook</span><svg class="icon icon-facebook" role="img"><use xlink:href="#icon-facebook" /></svg></a></li>
          <li><a class="share" href="http://twitter.com/share?url=http://{{ entry.url }}&amp;text={{ entry.title }} via @ednavigate" target="_blank"><span class="visually-hidden">Twitter</span><svg class="icon icon-twitter" role="img"><use xlink:href="#icon-twitter" /></svg></a></li>
        </ul>
      </div>

      <div class="section-links">
        {% include 'partials/_entry-nav.html' %}
      </div>

    </div>

    <aside class="sidebar col-1-3">
      {% set relatedEntries = craft.entries.section('resourcesEntries').relatedTo(['or', {targetElement: entry.resourceTopic}, {targetElement: entry.resourceLocations}]).id('not ' ~ entry.id) %}
      {% if relatedEntries|length %}
      <h4>Related Posts</h4>
      <ul class="related-posts">
        {% for relatedEntry in relatedEntries.limit(2) %}
          <li>
            <a class="inline-link" href="{{ relatedEntry.url }}"><span>{{ relatedEntry.title }}</span></a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </aside>

  </article>

{% endblock %}
