{% set entryIds = craft.entries.section('resourcesEntries').ids() %}
{% set topics = craft.categories.relatedTo({ sourceElement: entryIds }).group('resourcesTopics').find() %}
{% if entry.locale == 'en_us' %}
  {% set actionUrl = url('resources/search') %}
{% elseif entry.locale == 'es_us' %}
  {% set actionUrl = url('recursos/buscar') %}
{% endif %}

<div class="filter-section grid">

  <div class="search col-1-2">
    <form action="{{ actionUrl }}" class="search-filter">
      <div class="search-wrap">
        <input type="search" name="q" placeholder="{{'Search Resources'|t}}">
        <button type="submit" class="svg-inject" data-icon="icon-search"><span class="visually-hidden">{{"Search Resources"|t}}</span></button>
      </div>
    </form>
  </div>

  <div class="col-1-2 grid">
    <div class="filter topic col-1-2">
      <div class="select-wrap">
        <select name="topic" id="topic">
          <option value="null">{{ 'topic' | t | capitalize }}</option>
          {% for topic in topics %}
            <option value="{{ topic.url }}">{{ topic.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% set locationEntries = craft.entries.section('resourcesEntries').limit(null) %}
    {% set locations = craft.tags.group('resourcesLocations').relatedTo(locationEntries).indexBy('title') %}
    <div class="filter location col-1-2">
      <div class="select-wrap">
        <select name="location" id="location">
          <option value="null">{{ 'locations' | t | capitalize }}</option>
          {% for location in locations %}
            <option value="{{ siteUrl }}{{ 'family-resources' | t }}/{{ 'location' | t }}/{{ location.slug }}">{{ location.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

</div>