<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure consistent www URL
    RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
    RewriteCond %{HTTP_HOST} !^www\.ednavigator\.com [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator\.localhost [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator-3\.localhost [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator\.webfactional\.com [NC]
    RewriteRule ^(.*)$ https://www.ednavigator.com/$1 [R=301,L]

    # Force SSL
    RewriteCond %{HTTP:X-Forwarded-SSL} !on
    RewriteCond %{HTTP_HOST} !^ednavigator\.craft [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator\.localhost [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator-3\.localhost [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator\.firebelly\.co [NC]
    RewriteCond %{HTTP_HOST} !^ednavigator\.webfactional\.com [NC]
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Custom redirects
    RewriteRule ^blog/?$ /ideas [R=301,L]
    RewriteRule ^blog/(.*)$ /ideas/$1 [R=301,L]
    RewriteRule ^covid19 /resources/bundle/covid-19 [R=301,L]
    RewriteRule ^family-resources/?$ /resources [R=301,L]
    RewriteRule ^family-resources/(.*)$ /resources/$1 [R=301,L]
    RewriteRule ^who-we-are/mission/?$ /who-we-are/our-mission [R=301,L]
    RewriteRule ^who-we-are/staff/?$ /who-we-are/navigators-staff [R=301,L]
    RewriteRule ^how-we-help/our-partners/?$ /who-we-are/our-partners [R=301,L]
    RewriteRule ^es/resources-familiares/?$ /es/recursos [R=301,L]
    RewriteRule ^es/resources-familiares/(.*)$ /es/recursos/$1 [R=301,L]
    RewriteRule ^es/blog/search/?$ /es/blog/buscar [R=301,L]
    RewriteRule ^es/quienes-somos/mission/?$ /es/quienes-somos/nuestra-misión [R=301,L]
    RewriteRule ^es/quienes-somos/navegantes/?$ /es/quienes-somos/navegantes-personal [R=301,L]
    RewriteRule ^es/como-ayudamos/families-students/?$ /es/como-ayudamos/familias-estudiantes [R=301,L]
    RewriteRule ^es/como-ayudamos/employers/?$ /es/como-ayudamos/los-empleadores [R=301,L]

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
